@media only screen and (max-width: 1900px) {
    #pricepointdetail .list-link {
        text-align: right;
        margin-right: 25px;
    }
    #pricepointdetail .discheading {
        margin-left: 17px;
    }
    #help p {
        min-height: auto;
        max-height: auto;
    }
    /* #pricepointdetail a{
        margin-right: 27px;
        } */
    /* #pricepointdetail .discheading{
        margin-left: 18px;
        }*/
}

@media only screen and (max-width: 1440px),
screen and (max-height: 700px) {
    /*.home-img h2{
        margin-bottom: 11.5%;
        }*/
    .mt-60 {
        margin-top: 40px;
    }
    .margin-other-devices {
        margin-top: -5px;
    }
    .ask-login-box {
        font-size: 11.3px;
    }
}

@media only screen and (max-width: 1440px) {
    .footer-band.mt-80 {
        margin-top: 120px;
    }
    #help p {
        min-height: auto;
        max-height: auto;
    }
    /*#pricepointdetail .list-link{
        float:right!important;
        } */
    /*#pricepointdetail a{
        margin-right: 27px!important;
        float: right;
        } */
    /* #pricepointdetail .popup-right-heading h3,#pricepointdetail .popup-left-heading h3{
        font-size: 20px;
        }*/
    #pricepointdetail .popup-right-heading-listing h3,
    #pricepointdetail .popup-left-heading-listing h3 {
        font-size: 18px!important;
    }
    #pricepointdetail h5 {
        font-size: 13px;
    }
    #pricepointdetail .listing {
        font-size: 12px;
    }
    #pricepointdetail p.address {
        margin-top: -7px;
        font-size: 12px;
    }
    #pricepointdetail .search-btn {
        padding: 10px 26px;
    }
    #pricepointdetail .discheading {
        margin-left: 18px;
    }
    .circlelistblue h4,
    .circlelistgray h4 {
        padding: 3px 2px 12px;
    }
}

@media only screen and (max-width: 1366px) {
    /*.home-img h2{
        margin-bottom: 11%;
        }*/
    .left-sec h2 {
        margin-top: 30px;
    }
    .mt-60 {
        margin-top: 45px;
    }
    .footer-band.mt-80 {
        margin-top: 45px;
    }
    .inner-heading {
        height: auto;
    }
    .listing-cards h3 {
        font-size: 22px;
    }
    .btn.affix {
        right: 9%;
    }
    .left-sec i svg {
        width: 58px;
    }
}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1024px) {
    body {
        overflow-y: scroll;
    }
    #Search {
        width: 360px;
    }
    .ask-login-box {
        font-size: 11.3px;
    }
    #help p {
        min-height: auto;
        max-height: auto;
    }
    .home-img h2 {
        font-size: 35px;
        margin-bottom: 17.5%;
    }
    .know-btn {
        font-size: 10px;
    }
    .caption .des-sub-heading,
    .caption .des-heading {
        font-size: 10px;
    }
    .lg-drop-down {
        width: 125px;
    }
    .search-btn {
        /*width: 160px;*/
        padding: 8px 0px;
    }
    .btn.affix {
        right: 5%;
    }
    .listing-cards h3 {
        font-size: 12px;
    }
    .listing-cards p {
        margin-bottom: 6px;
        font-size: 8px;
    }
    #pricepointdetail .discheading {
        font-size: 9px;
    }
    #pricepointdetail a {
        font-size: 12px;
    }
    #pricepointdetail .list-link {
        margin-top: -6px!important;
    }
    #pricepointdetail .modal-body ul {
        font-size: 10.4px;
    }
    /*.star:before {
            right: -25px;
            }*/
    .left-sec h2 {
        margin-top: 20px;
    }
    .mt-60 {
        margin-top: 30px;
    }
    .list span {
        font-size: 12px;
    }
    .footer-band.mt-80 {
        margin-top: 16px;
    }
    #ipadpro-hidden {
        display: none !important;
    }
    .zipp-404 p {
        margin-top: 35%;
    }
    #HomeCarousel .carousel-indicators {
        top: 48.5%;
    }
    .home-img .form-control {
        width: 100%;
    }
    #pricepointdetail .search-btn {
        padding: 9px 0px;
        font-size: 12px;
        text-align: center;
        width: 100%;
        height: 35px;
    }
    #pricepointdetail .row.no-gutter [class*='col-']:not(:first-child),
    #pricepointdetail .row.no-gutter [class*='col-']:not(:last-child) {
        padding-right: 6px;
    }
    #pricepointdetail .popup-right-heading-listing h3,
    #pricepointdetail .popup-left-heading-listing h3 {
        font-size: 13px!important;
    }
    #pricepointdetail p.address {
        margin-top: -7px;
        font-size: 10px;
    }
    #pricepointdetail .panel-body {
        padding: 0 15px;
    }
    #pricepointdetail hr {
        margin: 5px 0!important;
    }
    #pricepointdetail .no-gutter-listing h4 {
        font-size: 14px!important;
    }
    #pricepointdetail .no-gutter h4 {
        font-size: 14px!important;
    }
    /*#pricepointdetail .details {
    margin: 20px 0 58px 0;
    }*/
    .search-bar .search-btn {
        width: 160px;
    }
    .search-bar #Search {
        width: 100%;
    }
    .footer {
        padding: 30px 0px 30px 0px;
    }
}

@media only screen and (width: 1024px) {
    #HomeCarousel .carousel-indicators {
        top: 42%;
    }
    .home-img {
        width: 100%;
    }
    .home .vh-100 {
        overflow: scroll;
    }
    .home .left-sec {
        width: 100%;
    }
    .vh-86,
    .home .left-sec {
        height: auto;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .map-line-list li {
        min-width: 8%;
    }
    .nav-tabs>li>a {
        font-size: 11px;
    }
    #map {
        display: none;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
    .modal-content {
        box-shadow: 0 0px 20px rgba(0, 0, 0, .2)!important;
    }
}

@media only screen and (max-width: 960px) {
    #map {
        display: none;
    }
}








/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 800px) {
    /*.navbar-header {
        width: 40%;
    }*/
    .navbar-inverse .navbar-nav>li>a {
        font-size: 12px;
    }
    #pricepointdetail {
        height: auto!important;
    }
}

@media only screen and (max-width: 768px) {

    .listing-cards .sro {
        text-align: right;
    }
    .vh-86 {
        height: auto;
    }
    .modal-lg {
        width: 360px;
    }
    .pricex-list {
        height: auto;
    }
    #help p {
        min-height: auto;
        max-height: auto!important;
    }
    /* #pricepointdetail .details {
        margin: 20px 0 75px 0;
        }*/
    /* .navbar-brand {
        width: 100%;
    }*/
    /*.navbar-header {
        width: 38%;
    }*/
    .navbar-inverse .navbar-nav>li>a {
        min-width: 110px;
    }
    .logo {
        width: 100%;
    }
    .search-in-btn {
        width: auto;
    }
    #detail-popup {
        position: fixed !important;
        overflow-y: auto;
    }
    #pricepointdetail #detail-popup {
        position: relative !important;
    }
    .nav-tabs .dropdown {
        position: absolute;
        right: 0;
    }
    .dropdown-menu.main {
        position: absolute;
        left: -182px;
        right: 0;
        width: auto;
    }
    .left-sec,
    .left-sec-inner {
        height: auto;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .drop-down.inner,
    .lg-drop-down,
    .search-btn {
        width: 100%;
    }

    .navbar {
        padding: 0;
        height: auto;
    }
    /*#map {
        display: none
    }*/
    .btn.affix {
        position: relative;
        top: 0;
        z-index: 0;
        right: 0;
    }
    .home-img h2 {
        margin-bottom: 11.5%;
    }
    #Search {
        width: 100%;
    }
    .navbar-inverse .navbar-nav>li>a {
        padding: 15px 5px;
    }
    .search-bar .form-group {
        width: 49.7%;
        margin-bottom: 5px;
    }
    .search-bar .lhs-btn3 {
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
    }
    .star:before {
        right: 0;
    }
    #myCarousel .carousel-indicators {
        left: 60%;
    }
    .ask-login {
        width: 98%;
    }
    .ask-login-box {
        width: 100%;
    }
    #HomeCarousel .carousel-indicators {
        top: 40%;
    }
    .zipp-404 p {
        margin-top: 60%;
    }
    .close {
        position: absolute;
        right: 15px;
        z-index: 999999;
    }
    #detail-popup .popup-right-heading h3 {
        font-size: 14px!important;
        margin-top: -3px;
    }
    #detail-popup .popup-left-heading h3 {
        font-size: 18px!important;
    }
    #detail-popup h5 {
        font-size: 13px;
    }
    #detail-popup p.address {
        margin-top: -7px;
        font-size: 12px;
    }
    #pricepointdetail .popup-right-heading h3 {
        font-size: 14px!important;
        margin-top: -3px;
    }
    #pricepointdetail h5 {
        font-size: 10px!important;
    }
    #pricepointdetail p.address {
        margin-top: -7px;
        font-size: 12px;
    }
    #pricepointdetail {
        height: auto!important;
    }
    #HomeCarousel .form-inline .form-group:nth-child(1) {
        width: 38%;
    }
    .verification-box {
        margin-bottom: 10px;
    }
    .side-bar {
        margin-top: 30px;
    }
    #similar-property {
        padding: 0px;
    }
    #pricepointdetail .details svg {
        margin-bottom: 10px;
    }
    #legal-ocheck {
        padding: 0;
        margin-top: 30px;
    }
    #legal-ocheck p {
        font-size: 13px;
    }
    #legal-ocheck p:nth-child(3) {
        margin-bottom: 30px;
    }
    #legal-ocheck h3 {
        margin-top: 30px;
        font-size: 20px;
    }
    #pricepointdetail .list-link {
        margin-top: 0!important;
    }
    #pricepointdetail .modal-header .close {
        padding: 1px 7px;
    }
    #pricepointdetail .list-link {
        text-align: center;
    }
    #pricepointdetail a {
        margin-left: 16px;
    }
    #pricepointdetail .popup-right-heading-listing h3,
    #pricepointdetail .popup-left-heading-listing h3 {
        margin-top: 8px!important;
        font-size: 16px!important;
    }
    /*#pricepointdetail .details {
        margin: 20px 0 75px 0;
        }*/
    #pricepointdetail .discheading {
        margin-left: 16px;
        font-size: 11px;
        margin-top: 5px;
    }
    #help {
        padding: 0;
        margin-top: 30px;
    }
    #help a {
        margin-bottom: 30px;
    }
    /* #similar-property{
        padding: 10px;
        }*/
    #help p {
        min-height: auto;
        max-height: auto!important;
        font-size: 14px;
    }
    #grapharea .graph-area {
        padding: 120px!important;
    }
    #pricepointdetail {
        height: auto!important;
    }
    #pricepointdetail .panel-body {
        padding: 11px 17px;
    }
    .zipp-404 {
        background-size: contain;
        height: 72vh;
    }
    #myCarousel {
        margin-left: -15px;
        margin-right: -15px;
    }
    .form-control,
    .dropdown-toggle,
    .search-btn {
        font-size: 12px;
        height: 36px;
    }
    .search-bar .form-inline .form-group:nth-child(1) {
        width: 35%;
    }
    .search-bar .form-inline .form-group:nth-child(2) {
        width: 65%;
    }
    .search-bar .form-inline .form-group:nth-child(3) {
        width: 35%;
    }
    .search-bar .form-inline .form-group:nth-child(4) {
        width: 30%;
    }
    .search-bar .form-inline .form-group:nth-child(5) {
        width: 35%;
    }
    .social-icon {
        bottom: 0;
    }
    .social-icon ul {
        padding-left: 15px;
    }
    .mobile-color {
        color: #fff !important;
    }
    .zipp-404 p {
        font-size: 20px;
        margin-top: 32%;
    }
    /*.navbar-header {
        width: 100%;
    }*/
    .home-img {
        height: 92%;
    }
    .home-img .btn {
        margin-right: -3px;
        padding: 5px 20px;
        border-radius: 0px;
        height: 50px;
        margin-top: 0;
    }
    .rhs-button {
        position: absolute;
    }
    .home-img h2 {
        margin-top: 0%;
        font-size: 35px;
    }
    #square {
        width: 100%;
        margin-bottom: 16%;
    }
    .form-inline-mobile {
        padding: 0 20px;
        display: -webkit-box;
        display: inline-flex;
    }
    .plr-50 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-inverse .navbar-toggle {
        border-color: transparent;
    }
    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: transparent;
    }
    .login-btn {
        display: block;
        width: 100%;
        margin: 10px 0px;
    }
    .nav-tabs>li>a {
        font-size: 8px;
    }
    .nav-tabs {
        padding-top: 0px;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .carousel-indicators li,
    .carousel-indicators .active {
        width: 35px;
        height: 35px;
    }
    #myCarousel {
        height: auto;
    }
    .nav>li>a {
        padding: 10px 10px;
    }
    #second-menu .nav>li>a {
        padding: 5px 3px;
    }
    .carousel-indicators {
        left: 90%;
    }
    #showDetails.modal {
        position: fixed;
        top: 10%;
    }
    #inner-map {
        display: none;
    }
    .modal-body .ptb-60 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .modal-md {
        width: auto;
    }
    #grapharea button.pull-right.reviseprice {
        float: none !important;
        margin: 0 auto;
        display: block;
    }
    .home-img h2 {
        font-size: 28px;
        margin-bottom: 21%;
    }
    #HomeCarousel .carousel-indicators {
        top: 41%;
    }
    .search-bar .form-group {
        margin-bottom: 5px;
        margin-right: 0px;
        display: inline-block;
        float: left;
    }
    .search-bar .form-inline {
        padding: 0;
    }
    .inner-heading .form-inline {
        padding: 0;
    }
    .inner-heading h3 {
        font-size: 18px;
        margin: 10px 0;
    }
    .dropdown-menu {
        min-width: 100%;
    }
    .search-bar .dropdown-menu>li {
        width: 100%;
    }
    .dropdown-menu .sub-option li {
        width: 46%;
    }
    .checkbox {
        margin: 0
    }
    #myCarousel .carousel-indicators {
        width: 42%;
        left: 88%;
        bottom: -15px;
    }
    .ask-login {
        left: 0;
        right: 0;
    }
    .ask-login-box {
        max-width: 100%;
        left: 0;
        right: 0;
        top: 75%;
        font-size: 12px;
    }
    .ask-login-box .login-now.pull-right {
        float: none !important;
    }
    .listing-cards {
        margin-right: 0;
    }
    .search-in-btn img {
        width: 10px;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        padding-bottom: 5px;
    }
    .navigation {
        height: auto;
    }
    #Search {
        /*width: 100%;*/
        /*width: 90%;*/
    }
    .inner-heading {
        height: auto;
    }
    /*.login-btn {
        margin: 10px 2px;
    }*/
    .know-btn,
    .caption .des-heading,
    .caption .des-sub-heading {
        font-size: 12px;
    }
    .gallery-arrow {
        width: 20%;
    }
    #HomeCarousel .carousel-indicators .active:after {
        bottom: -30px;
    }
    #bg {
        /*height: 20px !important;*/
    }
    .modal-body .h-450 {
        height: auto;
    }
    .modal-body .popup-icon-heading {
        font-size: 12px
    }
    .modal object {
        width: 30px !important;
    }
    .modal h2 {
        font-size: 18px !important;
    }
    .modal-body .mt-114 {
        margin-top: 30px;
    }
    .modal-body .mt-40 {
        margin-top: 20px;
    }
    .modal-body .mt-30 {
        margin-top: 0px;
    }
    .popup-bg {
        background: none;
    }
    .modal-body .modal-text {
        margin-top: -30px;
    }
    .modal-body .modal-text h3 {
        font-size: 20px;
    }
    /*navbar*/
    .custom-dropdown {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f8f8f8;
        color: #333 !important;
        visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
        -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
        transition: transform 0.5s 0s, visibility 0s 0.5s;
    }
    .custom-dropdown .header-dropdown {
        position: relative;
        z-index: 1;
        color: #fff;
        background-color: #087fc1;
        border-bottom: 1px solid #087fc1;
        margin: 0;
        padding: 8px 20px;
        font-size: 16px;
        height: 50px;
        line-height: 36px;
        letter-spacing: 0px;
    }
    .is-active-dropdown {
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0s;
        -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0s;
        transition: transform 0.5s 0s, visibility 0s 0s;
    }
    .custom-dropdown .dd-close {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        height: 50px;
        width: 50px;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
        font-size: 20px;
        margin-top: 10px;
    }
    .custom-dropdown .navbar-nav .dropdown {
        border-bottom: 1px solid #ccc;
    }
    .custom-dropdown .navbar-nav>li>a {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 25px;
        color: #5c5c5c;
        font-size: 15px;
    }
    .list span {
        font-size: 10px;
    }
    .footer-band p {
        font-size: 12px;
    }
    h4 {
        font-size: 15px;
    }
    .listing-cards h3 {
        font-size: 16px;
    }
    .listing-cards p {
        font-size: 10px;
    }
    .btn-submit {
        width: 100%;
    }
    .ask-for-login.btn {
        position: relative;
        font-size: 10px;
        top: 0;
        right: 0;
        padding: 4px 10px;
        width: 100%;
    }
    #cp-side-popup .modal-dialog {
        top: 0% !important;
    }
    .listing-cards .clearfix {
        margin-top: 5px;
    }
    .detail-sqft {
        clear: both;
        float: none !important;
        text-align: left;
    }
    .circlelistblue:before {
        line-height: 0;
    }
    .listing-cards p.mt-5 {
        margin-top: 0px;
    }
    .modal-header .pull-right {
        float: left !important;
    }
    .switch {
        float: right;
    }
    .pop-list p {
        margin-top: 5px;
    }
    .map-line-list li {
        min-width: 50%;
    }
    #pdf-viewer canvas {
        width: 100%;
    }
    .flex-center {
        height: auto;
    }
    .search-bar .search-btn {
        width: 100%;
    }
}

@media screen and (max-height: 576px) {
    #HomeCarousel .carousel-indicators {
        top: 50%;
    }
    .zipp-404 p {
        margin-top: 20%;
    }
}

@media screen and (max-width: 576px) {

    .lhs-btn3 {
        right: 18px;
    }
    .navigation .nav-tabs>li {
        border-right: 1px solid #ccc;
    }
    #pricepointdetail .modal-content {
        box-shadow: 0 0px 20px rgba(0, 0, 0, .2);
    }
    .side-popup.modal.left .modal-dialog,
    .side-popup.modal.right .modal-dialog {
        height: auto;
        top: 0px;
        width: 100%;
    }
    .side-popup.modal.left .modal-content,
    .side-popup.modal.right .modal-content {
        height: 100%;
        background: #fefff7;
    }
    #Search {
        width: 90%;
    }
    .navbar-brand {
        width: 68%;
        padding: 12px 0px;
    }
    .popup-btn {
        /*right: -100px;*/
    }
    .popup-btn .login-btn {
        padding: 5px 10px;
    }
    .popup-btn .login-btn.icon {
        padding: 12px;
        width: auto;
        border-radius: 50%;
        margin: 0;
        text-align: center;
        line-height: 1;
        height: auto;
    }
    .popup-btn.only-icon {
        right: 10px;
        /* bottom: 0; */
        width: auto;
        top: 92%;
    }
    .ask-login-box p {
        font-size: 14px;
    }
    .search-bar #Search {
        width: 100%;
    }
    .left-sec-inner form {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    #square {
        margin-bottom: 5% !important;
    }
    /*#pricepointdetail .details {
        margin: 20px 0 75px 0;
        }*/
    .home-img h2 {
        font-size: 25px;
    }
    .nav-tabs>li>a {
        font-size: 10px;
    }
    #second-menu .nav-tabs>li>a {
        font-size: 8px;
    }
    .home-img h2 {
        margin-bottom: 24%;
    }
    .home-img h2 {
        font-size: 22px;
        margin-bottom: 25%;
    }

    .logo {
        width: 100%;
    }
    #HomeCarousel .form-inline .form-group:nth-child(1) {
        width: 50%;
    }
    #myCarousel .carousel-indicators {
        width: 50%;
        left: 80%;
    }
    .listing-cards h3 {
        font-size: 15px;
    }
    #grapharea .graph-area {
        padding: 120px!important;
    }
    #myCarousel .carousel-indicators li,
    #myCarousel .carousel-indicators .active {
        width: 40px;
        height: 40px;
    }
    .search-in-btn {
        min-width: auto;
    }
}

@media only screen and (max-width: 320px) {
    .logo {
        width: 100%;
    }
    .ask-for-login p {
        font-size: 18px;
    }
    .modal-lg {
        width: 320px;
    }

    /*#pricepointdetail .details {
        margin: 20px 0 75px 0;
        }*/
    #HomeCarousel .form-inline .form-group:nth-child(1) {
        width: 80%;
    }
    #myCarousel .carousel-indicators {
        width: 60%;
        left: 70%;
    }
    #pricepointdetail {
        height: auto!important;
    }
    #grapharea .graph-area {
        padding: 120px!important;
    }
}

@media only screen and (max-height: 300px) {
    #HomeCarousel .carousel-indicators {
        /*top: 20%;*/
        transition: all ease 0.2s;
    }
    .carousel-caption {
        opacity: 0;
        transition: all ease 0.2s;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    #HomeCarousel .carousel-indicators .active::after {
        margin-left: 30px;
    }
}