@font-face {
    font-family: MyriadPro-Regular;
    src: url(../Fonts/MyriadPro-Regular.woff) format('woff');
}

@font-face {
    font-family: MyriadPro-Semibold;
    src: url(../Fonts/MyriadPro-Semibold.woff) format('woff');
}

@font-face {
    font-family: ProximaNova-Bold;
    src: url(../Fonts/ProximaNovaBold.woff) format('woff');
}

@font-face {
    font-family: ProximaNova-Regular;
    src: url(../Fonts/ProximaNovaRegular.woff) format('woff');
}

@font-face {
    font-family: ProximaNova-Semibold;
    src: url(../Fonts/ProximaNovaSemibold.woff) format('woff');
}
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../Fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../Fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../Fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../Fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../Fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../Fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@-moz-document url-prefix() {
    body {
        font-weight: normal !important;
    }
}

body {
    font-family: 'ProximaNova-Regular';
    overflow: hidden;
    outline: none;
    padding: 0 !important;
}

.backgroundblue {
    background: #087fc1;
    ;
}

.pad-0 {
    padding: 0;
}

.pad-5 {
    padding: 5px;
}

.pad-30 {
    padding: 30px;
}

.mt-10 {
    margin-top: 10px;
}
/*.pad-10 {
    padding: 10px 15px;
}*/
.pad-10{
    padding: 10px;
}
.pad-20 {
    padding: 20px;
}

.pad-tb-30 {
    padding-top: 40px;
    padding-bottom: 30px;
}
.pad-t-30{
    padding-top: 30px;
}
.pad-b-60 {
    padding-bottom: 60px;
}

.pad-l-0 {
    padding-left: 0px !important;
}

.mb-0 {
    margin-bottom: 0;
}

.m-0 {
    margin: 0;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-20 {
    margin-top: 20px!important;
}

.mt-80 {
    margin-top: 80px!important;
}

.mt-10 {
    margin-top: 10px!important;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mr-15 {
    margin-right: 15px !important;
}

.mt-40 {
    margin-top: 40px;
}

.mt-114 {
    margin-top: 114px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-60 {
    margin-top: 60px;
}
.pad-tb-50{
    padding-top: 50px;
    padding-bottom: 50px;
}







/*bootom*/

.plr-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.mtb-10 {
    margin-bottom: 10px;
    margin-top: 10px
}

.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad7 {
    padding: 0px 20px 0px 5px;
}

.pad5 {
    padding: 5px;
}

.ptb-15 {
    padding-top: 15px;
    padding-bottom: 20px;
}
.pb-60 {
    padding-top: 60px;
}
.ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.ptb-130 {
    padding-top: 130px;
    padding-bottom: 130px;
}

.bg-gray {
    background-color: #f4f4f4;
    margin-top: 100px;
}

.clr-cyan {
    color: #2eba9d !important;
}

.clr-gray {
    color: #ccc !important;
    font-size: 13px;
}

.clr-dark-gray {
    color: #565656 !important;
}

.clr-orange {
    color: #f74a27 !important;
}

.clr-blue {
    color: #0d7ec1 !important;
}

.posR {
    position: relative;
}

.vh-100 {
    height: 100vh;
}

.vh-86 {
    height: 84vh;
}

.w-100 {
    width: 100%;
}

.circle {
    border: 3px solid #2eba9d;
    border-radius: 50%;
    /* padding: 30px; */
    font-size: 56px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    color: #2eba9d;
    margin: auto;
}

.footerStatic {
    position: static!important;
    width: auto;
}

.fixedBoxBtm {
    position: fixed;
    display: block;
    width: 50%;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 5;
}

.logo {
    height: 32px;
    margin: 0;
}

.pricex-list {
    height: 90vh;
    margin-left: -15px;
    margin-right: -15px;
}

.container-fluid {
    outline: none;
}

.offer {
    margin: 0;
    padding-left: 5px;
    color: #b2b2b2;
}

.popup-icon-heading {
    font-weight: 900;
    color: #2eba9d;
    text-transform: uppercase;
}

.modal {
    z-index: 999999999;
}

.modal-backdrop {
    background: transparent;
}

.modal-md {
    width: 760px;
}

.modal-header .close {
    margin-top: -11px;
    border: 1px solid;
    border-radius: 50%;
    padding: 0px 5px;
    position: absolute;
    right: 5px;
    z-index: 9999;
}

#pricepointdetail .modal-header .close {
    margin-top: 7px;
}

#pricepointdetail ul {
    padding-top: 12px;
    margin: 0px;
    padding-left: 0;
}

#showDetails button.close {
    position: absolute;
    right: -10px;
    top: -12px;
    background: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    z-index: 999999;
    opacity: 1;
    border: 1px solid #ccc;
}

#showDetails .modal-body {
    padding: 15px;
}

#showDetails.modal {
    position: absolute;
}
#askaquestion.modal {
    background: rgba(0, 0, 0, 0.55);
    overflow-y: auto;
}
/*#askaquestion .modal-dialog {
    width: 360px;
}*/
.loading-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    width: 100%;
    height: 100%;
}
#askaquestion .modal-content {
    border: none;
    border-radius: 15px;
}
#askaquestion .modal-header .close,
#allReviewModal button.close {
    margin-top: -10px;
    border: 1px solid;
    border: none;
    border-radius: 50%;
    padding: 0px 5px;
    position: absolute;
    right: 15px;
    z-index: 9999;
    opacity: 1;
    outline: none;
    
}
#askaquestion .modal-header {
    text-align: center;
    color: #087fc1;
    border: none;
    padding: 24px;
}
#askaquestion .modal-header h4 {
    font-size: 18px;
    font-family: 'ProximaNova-bold';
}
#askaquestion .modal-body {
    width: 100%;
}

#askaquestion .modal-body {
    width: 100%;
    padding: 15px;
}
#askaquestion .modal-body {
    display: inline-block;
    padding-top: 0;
}
#askaquestion .form .form-control {
    height: auto;
    padding: 8px 16px;
}
#askaquestion .form .form-control {
    background: #f3f3f3;
}
.btn-primary {
    background: #087fc1;
    color: #fff;
    border-radius: 50px;
    padding: 8px 34px;
    font-size: 18px;
    box-shadow: none;
    outline: none;
    border: none;
}
#askaquestion .form button.btn {
    font-size: 16px;
    width: 100%;
}

#first-sign-in button.close,
#back-sign-in button.close,
#sign-in button.close,
#floor-plan-modal button.close  {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 28px;
    z-index: 99999;
    outline: none;
}

.detail-popup {
    height: 345px;
    overflow-y: auto;
}

.table>tbody>tr>td {
    padding: 12px;
}

.table-heading {
    color: #fff;
    background: #2eba9d !important;
}

.panel-body {
    padding: 0;
}

.star:before {
    font-size: 13px;
    font-family: FontAwesome;
    color: #fb0;
    position: absolute;
    right: 0;
    top: 0;
    content: "\f005\f005\f005\f005\f005";
    display: block;
    padding-left: 5px;
}
.groupbuy-box {
    display: flex;
    height: 100%;
    background-image: url(../img/group-buy-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    flex-direction: row;
}
.flex-grid {
    display: flex;
    justify-content: center;
}
.box-left h3{
    font-family: 'ProximaNova-Semibold';
    font-size: 36px;
    color: #ffffff;
}
.box-left p{
    font-size: 24px;
    color: #ffffff;
    font-family: 'ProximaNova-Semibold';
}

.box-right {
    display: flex;
    align-items: center;
}
.box-right a{
    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 50px;
    text-decoration: none;
}
.box-right a:hover{
    background-color: #087fc1;
    color: #FFFFFF;
}
.shadow {
    box-shadow: 0px -1px 16px #ccc;
}
.shadow-listing {
    box-shadow: 0px -1px 3px #ccc;
}

.w-25 {
    width: 25%;
    float: left;
}

.navbar-inverse {
    background-color: #087FC1;
    border-color: #087FC1;
}

.posR {
    position: relative;
}

.heading-line {
    float: right;
    width: 100%;
    border-top: 3px solid #eee;
    margin-top: 10px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.rera {
    margin-right: 10px;
}

.heading {
    background: #fff;
    padding-right: 15px;
    font-size: 16px;
    margin-top: 0px;
}
ul.min-price>li>a, ul.max-price>li>a {
    display: block;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #aaa;
}
ul.max-price {
    display: block;
    width: 50%;
    float: right;
}
ul.max-price>li>a {
    display: block;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #aaa;
    display: block;
}
ul.min-price>li>a:hover, ul.max-price>li>a:hover {
    background-color: #337ab7;
    color: #ffffff;
    text-decoration: none;
}
#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.95);
    z-index: 2;
}
.drop-down {
    padding: 10px 25px 10px 10px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url(../assets/down-arrow.svg) no-repeat;
    background-position: 90% 50%;
    background-size: 10px;
    background-color: #fff;
    /*margin-right: -5px;*/
    border-radius: 0px;
}

.panel-heading a {
    outline: none;
    text-decoration: none;
}

#detail-popup {
    background: rgba(255, 255, 255, 0.77);
    position: absolute !important;
    overflow-y: hidden;
}

.modal-backdrop {
    display: none;
}

.modal-content {
    box-shadow: 0 0px 20px rgba(0, 0, 0, .2);
}

.modal-lg {
    width: 400px;
}

#detail-popup .modal-dialog {
    width: 95%;
}

.panel-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

#detail-popup .modal-body {}

.drop-down::-ms-expand {
    display: none;
}

.drop-down.inner {
    width: 100%;
    margin-right: 0px;
}

.search-bar {
    padding: 10px 15px;
    border-bottom: 1px solid #e4e4e4;
    z-index: 9999;
    background: #fff;
    overflow: hidden;
}

.drop-search-btn {
    background: #2abb9d;
    color: #fff;
}

.dropdown-menu.main {
    padding: 5px;
}

.dropdown-menu.main .form-control {
    margin-bottom: 5px;
}

.dropdown-menu.main .checkbox,
.dropdown-menu.main .radio {
    margin: 0;
}

.inner-option li {
    display: inline-block;
    width: 48%;
    padding: 0 4px;
    font-size: 14px;
}

.search-bar .dropdown-menu>li {
    display: inline-block;
    width: 48%;
    padding: 0 4px;
    font-size: 14px;
}

.dropdown-menu ul {
    padding: 0;
}

.dropdown-menu .sub-option li {
    display: inline-block;
    width: 32%;
    padding: 0 4px;
    font-size: 14px;
}

.lg-drop-down {
    background-color: transparent;
    color: #555;
    border-radius: 0;
    height: 40px;
    width: 185px;
    text-align: left;
    border-color: #ccc;
    background-image: url(../assets/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 10px;
    box-shadow: none;
}

.search-bar .dropdown-menu li a {
    padding: 0 5px;
}

.dropdown-menu {
    min-width: 215px;
}

.modal object {
    width: 55px;
}

input[type=Search] {
    border-radius: 0;
    z-index: 999;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px 30px;
}
.nav-tabs > li > a.btn-menu {
    font-family: 'ProximaNova-Bold';
    background-color: #087fc1;
    color: #fff;
    font-size: 14px;
    margin: 0px;
    border: 1px solid;
    border-color: #087fc1;
    padding: 6px 12px;
    border-radius: 50px;
}
.call-pddng-tb {
    float: right!important;
}
/* .call-pddng-tb {
    padding: 6px;
} */
.nav-tabs > li.call-pddng-tb > a.btn-menu:hover {
    color: #087fc1;
    background: transparent;
    border: 1px solid;
    border-color: #087fc1;
}


.navbar-brand {
    padding: 12px 15px;
}

.header {
    background-color: #087FC1;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
    color: #fff;
}

.header button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20%;
}

.header .head-margin-lf {
    margin-left: 3%;
}

.header .head-margin-rg {
    margin-right: 3%;
}

.home-img {
    /*background: url("../assets/home.png") center no-repeat;*/
    height: 100%;
    padding: 0;
    /*text-align: center;*/
    /*background-size: cover;*/
}

.styled-checkbox {
    position: absolute !important;
    opacity: 0;
}

.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox+label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 14px;
    height: 14px;
    background: white;
    border: 1px solid #ccc;
}

.styled-checkbox:hover+label:before {
    background: #087fc1;
}

.styled-checkbox:focus+label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked+label:before {
    background: #087fc1;
}

.styled-checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked+label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dropdown hr {
    margin-top: 10px;
    margin-bottom: 10px;
}







/*.rg-row .col-md-4{
  width: 26.333333%;
  }*/

.banner-caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 28%;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 14px !important;
    padding: 15px 20px;
    min-width: 125px;
    font-family: 'ProximaNova-Semibold'
}

.login-btn {
    background: #2eba9d;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    padding: 3px 16px;
    margin: 10px 0px 0 20px;
    outline: none;
}

#square {
    position: relative;
    width: 100%;
    height: 180px;
    border: 1px solid #087FC1;
    margin-right: 10px;
    margin-bottom: 10%;
    border-radius: 15px;
    background-color: #fcfcfe;
}

#square p {
    position: absolute;
    /*bottom: 0;*/
    left: 0;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    margin: 15px;
    font-family: 'ProximaNova-Regular';
}

.shape {
    position: absolute;
    text-align: center;
    background-color: #087FC1;
    width: 125px;
    height: 60px;
    line-height: 16px;
    color: white;
    margin: 0px auto;
    position: relative;
    border-bottom-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
}

.shape h4 {
    margin: 0;
    padding-top: 8px;
}

.box-tagline p {
    font-family: 'ProximaNova-Regular';
    text-align: center;
}

.box-tagline h5 {
    font-family: 'ProximaNova-Regular';
    text-align: center;
}

.box-tagline img {
    display: block;
    margin: auto;
}

.list {
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.list li {
    display: inline-block;
}

.list svg {
    width: 20px;
    height: 20px;
}

.list span {
    font-size: 16px;
    font-weight: 900;
    color: #2abb9d;
    display: inline-block;
}

.side-bar span {
    display: inline-block;
    margin-bottom: -2px;
    float: left;
}

.side-bar span:nth-child(2) {
    margin-top: -2px;
    margin-left: 5px;
}

.footer {
    background-color: #464A5C;
    color: #fff;
    padding: 30px 0px 120px 0px;
}

.footer p {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    text-align: left;
    line-height: 22px;
}

.footer-band {
    background-color: #0d7ec1;
    color: #fff;
    padding: 5px 0;
}

.footer-band a {
    color: #fff;
}

.footer-band p {
    margin: 0;
    text-align: center;
    font-weight: 100;
}

.footer ul,
.footer li {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    list-style: none;
    text-align: left;
    line-height: 22px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    opacity: 0.7;
}

.section-full {
    height: 100vh;
    min-height: 100vh;
}

.left-sec-inner {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 5px 3px 2px #f1f1f1;
    /*margin-top: 100px;*/
}

.left-sec-inner .dropdown {
    margin-top: 5px;
    margin-bottom: 5px;
}

.left-sec-inner .dropdown-menu>li>a {
    border-bottom: 0px;
    padding: 5px;
    font-size: 14px;
}

.left-sec-inner .dropdown-menu {
    min-width: 100%;
}

.left-sec-inner .dropdown-menu>li>a:hover {}

.dropdown-toggle span {
    width: 108px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    margin-right: 16px;
}

.left-sec {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar-toggle {
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
}







/*.left-sec::-webkit-scrollbar { 
    display: none; 
    }*/

.left-sec h2 {
    text-align: center;
    font-family: 'ProximaNova-Semibold';
    margin-top: 40px;
}

.footer h5 {
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    margin-bottom: 30px;
}

.footer img {
    /*margin-top: 5%;*/
    margin-bottom: 3%;
    /*margin-left: 2%;*/
}

.footer h6 {
    margin-top: 0px;
}

.home-img h2 {
    color: #fff;
    font-family: 'ProximaNova-Semibold';
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 14.5%;
}

.form-control {
    height: 35px;
    border-radius: 0;
}

.home-img .btn {
    border-radius: 4px;
    background-color: #f74a27;
    border-color: #f74a27;
    color: #fff;
    text-transform: uppercase;
    height: 38px;
    margin-top: 6px;
    margin-right: 4px;
    padding: 5px 25px;
}

.home-img input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-btn {
    border-radius: 0px;
    background-color: #2eba9d;
    border-color: #2eba9d;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    padding: 8px 62px;
    margin-bottom: 10px;
    
}

.view-btn {
    border-radius: 0px;
    background-color: #0b7dbb;
    border-color: #0b7dbb;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    padding: 8px 25px;
}







/*.ask-login{
      width: 100%;
      height: 500px;
      background: rgba(255, 255, 255, 0.9);
      background: -webkit-linear-gradient(transparent 0%, rgba(255, 255, 255, 1) 50%);
      background: -o-linear-gradient(transparent 0%, rgba(255, 255, 255, 1) 50%);
      background: -moz-linear-gradient(transparent 0%, rgba(255, 255, 255, 1) 50%);
      background: linear-gradient(transparent 0%, rgba(255, 255, 255, 1) 50%);
      position: absolute;
      top: 0;
      }*/

.ask-login {
    display: block;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.9);
      background: -webkit-linear-gradient(transparent 0%, rgba(255, 255, 255, 1) 90%);
      background: -o-linear-gradient(transparent 0%, rgba(255, 255, 255, 1) 90%);
      background: -moz-linear-gradient(transparent 0%, rgba(255, 255, 255, 1) 90%);
      background: linear-gradient(transparent 0%, rgba(255, 255, 255, 1) 90%);*/
    background: #f4f4f4;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
}

.ask-login-box {
    position: /*absolute*/;
    top: 30%;
    left: 0;
    right: 0;
    padding: 15px;
    margin-bottom: 0;
    /*background: #2fbb9d;*/
    width: 60%;
    margin: auto;
}

.ask-login-popup img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.ask-login-popup h4 {
    color: #2fbb9d;
    text-align: center;
    padding-top: 50px;
    font-weight: 600;
}

.ask-login-popup p {
    text-align: center;
    color: #888;
}

.ask-login-popup {
    box-shadow: 0px 0px 20px 0px #f3f0f0;
    position: relative;
    background: #fff;
}

.ask-login-popup figcaption {
    color: #2fbb9d;
    text-align: center;
    font-weight: 600;
}

.ask-login-popup .circle-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80%;
    width: 100px;
    height: 100px;
    box-shadow: 0px -15px 31px -14px #efefef;
    border-radius: 50%;
}

.login-now {
    background: #f74a27;
    color: #fff!important;
    border-radius: 0px;
    font-size: 18px;
    padding: 10px 30px;
    /*max-width: 180px;*/
    width: 100%;
}

.ask-login-box p {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-style: italic;
    /*color: #077fc1;*/
    /*font-weight: 600;*/
}

#des .title {
    font-family: 'ProximaNova-Semibold';
    color: #0b7dbb;
}

.inner-heading {
    /*box-shadow: 0px -1px 16px #ccc;*/
    /*background: #fff;*/
    /*height: 58px;*/
    /*position: fixed;
    width: 50%;
    z-index: 99999;*/
    /*border-bottom: 1px solid #ccc;*/
}

.prop-listing {
    background: #efefef;
    padding-bottom: 40px;
    min-height: 100%;
    /*margin-top: 62px;*/
    /*padding: 12px;*/
}

.prop-listing a {
    text-decoration: none;
}

.prop-listing .heading {
    margin-bottom: 0;
    font-family: 'ProximaNova-Semibold';
    margin-top: 0;
}

.prop-listing .heading a {
    color: #333;
}

.prop-listing .heading a:hover {
    color: #0b7dbb;
}

.prop-listing .address {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 3px;
}

.thumbnail {
    position: relative;
    padding: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    margin: 6px;
}

.thumbnail img {
    width: 100%;
}

.caption .des-heading {
    font-size: 12px;
    margin-bottom: 0;
    color: #808080;
}

.caption .des-sub-heading {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.caption hr {
    margin: 0 0 10px 0;
}

.caption svg {
    width: 15px;
    height: 15px;
}

.know-btn {
    border-radius: 0;
    background: #2eba9d;
    color: #fff;
    width: 49%;
    font-size: 14px;
    padding: 6px 0;
    border: none;
}

.txt-head {
    font-size: 20px;
    font-weight: 900;
    margin-top: 15px;
    margin-left: 6px;
}

.know-btn:hover {
    background: #2eba9d;
    color: #fff
}

.know-btn.price {
    background: #0d7ec1
}

.know-btn.price:hover {
    background: #0d7ec1;
    color: #fff
}

.nav-tabs {
    padding-top: 12px;
    border-bottom: none;
}

.navigation .nav-tabs>li.active>a,
.navigation .nav-tabs>li.active>a:focus,
.navigation .nav-tabs>li.active>a:hover {
    border: none;
    border-bottom: 3px solid #0082c6;
    color: #0082c6;
    font-weight: 700;
    font-family: 'ProximaNova-Semibold';
    padding-bottom: 24px;
}

.nav-tabs>li>a {
    font-size: 15px;
    color: #888;
    margin-right: 0;
}

.nav-tabs>li>a:hover {
    background: transparent;
    border-color: transparent;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    border-color: transparent;
}

.search-in-btn {
    min-width: 200px;
    text-align: center;
}

.title {
    overflow: hidden;
}

.title:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-right: -100%;
    border-bottom: 1px solid #ccc;
}

#myCarousel .carousel-indicators li,
#myCarousel .carousel-indicators .active {
    width: 45px;
    height: 45px;
    border-radius: 0;
}

#myCarousel .carousel-indicators {
    width: 40%;
    left: 96%;
    bottom: 0;
}

#myCarousel .carousel-indicators .active {
    border: 2px solid #2eba9d;
}

.gallery-arrow {
    position: absolute;
    top: 40%;
}

.side-bar {
    background-color: #fff;
    padding: 10px 15px;
}

.side-bar.point_details {
    background-color: #fff;
    padding: 0;
}

.detail-sidebar .search-btn {
    padding: 8px 20px;
}

.detail-sidebar svg {
    fill: gray;
}

.side-bar h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #0082c6;
    font-family: 'ProximaNova-Semibold';
}

.side-bar p {
    margin-bottom: 0;
    /*font-family: 'ProximaNova-Bold';*/
}
.gm-style-mtc {
  visibility: hidden;
}
.side-bar p.bld { 
    font-family: 'ProximaNova-Bold';
}
.side-bar p.des>i.fa-info-circle {
    color: #ffba00;
}
/*.panel-title .underline {
    text-decoration: underline;
}*/

.details {
    margin: 20px 0 70px 0;
}

.btn.affix {
    top: 15px;
    z-index: 9999;
    right: 10%;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #efefef;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #efefef;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #2ebb9d;
}

.details hr {
    margin: 10px 0;
}

.details .sm-heading {
    color: #888;
}

.details .des {
    font-size: 16px;
}

.details svg {
    width: 15px;
    height: 15px;
}

.navigation {
    width: 100%;
    z-index: 9999;
    background: #fff;
    top: 0;
    height: 70px;
}

.amenities object {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

#map {
    width: 100%;
    height: calc(100vh - 53px);
}

#inner-map {
    width: 100%;
    height: 506px;
}







/*.gm-style-iw + div {display: none;}*/

.map-head {
    font-size: 18px;
    margin-bottom: 4px;
}

#map .gm-style-iw {
    width: 200px !important;
    height: 165px !important;
    top: 0px !important;
    left: 0px !important;
    /*background-color: #fff;*/
    border-radius: 2px 2px 10px 10px;
}

#map .gm-style-iw div {
    min-width: 200px;
}

#map .gm-style-iw img {
    width: 200px
}

#map .gm-style-iw+div {
    display: none
}

#map .gm-style-iw+div>div {
    display: none
}

.map-info {
    padding: 0 10px;
}

.map-info {
    font-size: 14px;
    margin: 0;
}

.map-info hr {
    margin: 10px 0;
}

.map-buttons {
    position: absolute;
    top: 32%;
}

.map-btn {
    min-width: 110px;
    margin-bottom: 3px;
    border: none;
    border-radius: 0;
    background: #2cb99d;
    color: #fff;
}

.map-btn:hover,
.map-btn:focus {
    background: #f74a27;
    color: #fff;
}

/* created on 01-08-2018 */
#available-units ul.tabs-left {
    position: relative;
    display: block;
    top: 0;
    bottom: 0;
    margin: 20% auto;
}
#available-units ul.tabs-left>li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #a6a6a6;
}
#available-units ul.tabs-left>li:last-child {
    border-bottom: none;
    margin-top: 1px;
}
#available-units ul.tabs-left a {
    text-align: center;
    color: #ddd;
    /*border-bottom: 1px solid transparent;*/
    /*font-weight: 700;
    font-family: 'ProximaNova-Semibold';*/
    border: none;
    padding-bottom: 24px;
}
#available-units ul.tabs-left a>span{
    float: left;
    font-family: ProximaNova-Regular;
    font-size: 10px;
}
#available-units table {
    border: 1px solid #ddd;
    border-spacing: 0 1em;
}
.Available-unit-heading {
    background-color: #2eba9d;
    
}
.Available-unit-heading h4 {
    font-weight: 600;
    color: #ffffff;
    font-family: 'ProximaNova-Regular', sans-serif;
}
.unit-panel-heading h4 {
    margin: 0px;
    padding: 10px;
}

#available-units .nav-tabs>li.active>a:before,
#available-units .nav-tabs>li.active>a:after {
    border-right: 1px solid;
    content: '';
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
}

#available-units .nav-tabs>li.active>a:after {
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#available-units .nav-tabs>li img:focus,
#available-units .nav-tabs>li img:hover {
    filter: grayscale(0%);
    -webkit-filter:grayscale(0%);
    -moz-filter:grayscale(0%);
    -o-filter:grayscale(0%);
    opacity: 0.6;
}
#available-units .nav-tabs>li.active>a,
#available-units .nav-tabs>li.active>a:focus,
#available-units .nav-tabs>li.active>a:hover {
    border: none;
   /* border-bottom: 1px solid #ddd;*/
    color: #000000;
    font-family: ProximaNova-Regular;
    padding-bottom: 24px;
}
#available-units .nav-tabs>li img{
    filter: grayscale(100%);
    -webkit-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
    -o-filter:grayscale(100%);
    opacity: 0.5;
}
#available-units .nav-tabs>li.active img {
   filter: grayscale(0%) !important; 
   -webkit-filter:grayscale(0%) !important;
    -moz-filter:grayscale(0%) !important;
    -o-filter:grayscale(0%) !important;
    opacity: 1;
}
#available-units thead {
    background: #2eba9d;
    color: #fff;
    font-family: 'ProximaNova-Regular', sans-serif;
}
.bgImg {
    /*width: 100%;
    background: url(../assets/mobile0thumb.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;*/
}
.keen-to-save {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 325px;
    background: transparent;
    padding: 30px;
    top: 0;
    z-index: 9;
}
.bgImg p{
    text-align: center;
    font-size: 18px;
    color: #0182c6;
    font-family: 'ProximaNova-Semibold', sans-serif;
}
.bg-img-grid {
    background: url(../assets/CP-TILE-WEB.png) center no-repeat;
}
.bgbtn {
    background: #0182c6!important;
    color: #fff!important;
    border-radius: 0px;
    font-size: 18px;
    padding: 10px 70px;
    /* max-width: 180px; */
    /* width: 30% */;
}
/*.ls-bgclr {
    background-color: #aadafd;
}*/
.map-listing {
    height: 530px;
    overflow-y: auto;
    padding: 15px;
    background: #fff;
}

.map-listing hr {
    margin: 10px 0;
}
.content-text {
    font-size: 18px;
    color: #6d6d6d;
    font-family: 'ProximaNova-Semibold', sans-serif;
}
.content-issue {
    font-size: 18px;
    color: #6d6d6d;
    font-family: ProximaNova-Regular;
}






/*.map-listing h4{margin-bottom: 0;}*/

.popup-bg {
    background: url(../assets/popup-bg.png) center no-repeat;
    background-position: bottom;
}

.detail-heading {
    background: #00bc9b;
    color: #fff;
    padding: 5px;
}

.modal-body {
    padding: 0px;
}

.modal-body #square {
    border: 1px solid #59c8b0;
    height: 145px;
}

.modal-body .shape {
    background-color: #59c8b0;
}

.modal-text {
    color: #59c8b0;
}

.modal a {
    color: #59c8b0;
    text-decoration: none;
}

.modal input[type="tel"],
.modal input[type="text"],
.modal input[type="email"] {
    background: transparent;
}

.h-450 {
    height: 450px;
}

.input-group-addon {
    background: transparent;
    border: none;
    font-size: 22px;
}

.modal .form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#sign-in .form-control {
    font-size: 22px;
}

#first-sign-in .form-control {
    font-size: 16px;
}

.btn-otp {
    font-size: 16px;
    border: none;
    border-radius: 0;
    background: #0d7ec1;
    color: #fff;
}

.modal h2 {
    font-weight: 900;
    font-family: 'ProximaNova-bold';
    color: #0d7ec1;
    font-size: 36px;
}

#myCarousel {
    height: 522px;
}

#myCarousel .carousel-inner,
#myCarousel .item,
#myCarousel .item>img {
    height: 100%;
    width: 100%;
}

.lhs-btn3 {
    position: absolute;
    top: 0;
    right: 3px;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner>.item.next,
    .carousel-fade .carousel-inner>.item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner>.item.prev,
    .carousel-fade .carousel-inner>.item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner>.item.next.left,
    .carousel-fade .carousel-inner>.item.prev.right,
    .carousel-fade .carousel-inner>.item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-caption {
    text-shadow: none;
    font-size: 17px;
    top: 30%;
}

.carousel-caption h3 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.home-img .form-control {
    height: 50px;
}

.home-img .drop-down {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.item:nth-child(2) {
    background: url('../assets/Buy-cleanproperties.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.item:nth-child(3) {
    background: url('../assets/PriceX-cleanproperties.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#HomeCarousel .carousel-caption {
    left: 0;
    right: 0;
    bottom: auto;
}

#HomeCarousel .carousel-indicators {
    top: 44%;
    bottom: auto;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
}

#HomeCarousel .carousel-indicators .active {
    background-color: #0d7ec1;
    color: #fff;
}

#HomeCarousel .carousel-indicators .active:after {
    content: "";
    position: absolute;
    top: 58px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    margin-left: -16px;
    z-index: 999;
}

#HomeCarousel .carousel-indicators li {
    width: 115px;
    height: 45px;
    margin: 0 -3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 0;
    text-indent: 0;
}

#HomeCarousel .carousel-indicators li>p {
    font-size: 20px;
    margin: 0;
    color: #fff;
    margin-top: 8px;
}

.left-sec i svg {
    width: 90px;
}

.inner-heading .drop-down {
    padding: 0px 32px 0px 10px;
}

.inner-heading .form-control {
    height: 30px;
}

.icon-heading {
    color: #0d7ec1;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold';
}

.icon-sub-heading {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: 'ProximaNova-Semibold';
}

.social-icon {
    position: absolute;
    bottom: 72px;
    z-index: 999999;
}

.social-icon ul {
    list-style: none;
    display: inline-block;
}

.social-icon li {
    display: inline;
    margin-right: 5px;
}

.map-price {
    margin: 0;
    float: right;
}

.listing-cards {
    background: #fff;
    box-shadow: 0px 0px 20px 2px #efefef;
    margin-right: 5px;
    padding: 13px;
    border-bottom: 3px solid #2ebb9d;
    border-radius: 8px;
    margin-bottom: 8px;
}

.listing-cards h3 {
    margin: 0;
    margin-bottom: 5px;
    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
    color: #087fc1;
}

.listing-cards .pull-right {
    font-weight: 900;
    color: #087cbb;
}

.listing-cards p {
    margin-bottom: 3px;
    font-size: 12px;
    text-align: left;
}

.pricex-heading {
    background: #3dbea1;
    color: #fff;
}

.panel-heading {
    padding: 10px 0;
    background: transparent !important;
}

.panel-body {
    padding: 15px;
}

.see-detail {
    font-size: 14px;
    text-decoration: none;
}







/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
    margin-top: 6px;
    margin-bottom: 0;
}







/* Hide default HTML checkbox */

.switch input {
    display: none;
}







/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #3bbea1;
}

input:focus+.slider {
    box-shadow: 0 0 1px #3bbea1;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}







/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.list-of-cards {
    height: 400px;
    overflow-x: auto;
}

#pdfModal .modal-dialog {
    margin: 12px auto;
        height: 95%;
    overflow: hidden;
}
#pdfModal .modal-body{
        max-height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.dropdown-menu>li>a {
    padding: 13px 20px;
    border-bottom: 1px solid #ccc;
    border-left: 3px solid transparent;
}

.dropdown-menu>li>a:hover {
    border-left: 3px solid #087FC1;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #065e92;
}

.fa-chevron-down {
    font-size: 10px !important;
    margin-top: 4px;
    margin-left: 6px !important;
}

.detail-sqft {
    color: #087fc1;
    font-weight: bold;
}

.add-padding p {
    margin: 0px 0px 0px !important;
    font-size: 12px;
}

.dropdown-padding-bottom .dropdown-menu {
    padding: 5px 0 0 0;
}







/*404*/

.zipp-404 p {
    font-size: 20px;
    margin-top: 75%;
}

.zipp-404 {
    background: url('../assets/404.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
    padding: 0px 0px;
}

.zipp-404 p {
    font-family: 'Proxima Nova';
    font-size: 33px;
    color: #087FC1;
    font-weight: 500;
    position: absolute;
    margin-top: 27%;
    width: 95%;
    text-align: center;
}

.head-new-btn {
    background-color: #F74A27;
    font-size: 7px;
    font-family: 'Proxima Nova' !important;
    border-radius: 50px;
    border: none;
    line-height: 1.3;
    letter-spacing: 1px;
    color: #fff;
    padding: 2px 6px;
}

.pricex-img {
    margin: 0 auto;
    width: 96px;
}

.pricex-img2 {
    margin: 0 auto;
    width: 96px;
}

.pad-right {
    padding-right: 0px !important;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+span {
    background-color: #fefefe;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 50px;
    display: inline-block;
    float: left;
    margin-right: 7px;
    padding: 7px;
    position: relative;
    -webkit-appearance: none;
}

input[type="radio"]:checked+span {
    color: #f00;
}

input[type="radio"]:checked+span:after {
    background: #0d7ec1;
    border-radius: 50px;
    content: " ";
    height: 10px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 10px;
}

label:hover input[type="radio"]+span {
    border-color: #0d7ec1;
}

.navbar-nav>li>.dropdown-menu {
    padding: 0px;
}

.popup-head {
    color: #0d7ec1;
    font-weight: 700;
}

.popup-circle {
    font-size: 28px;
    font-weight: 700;
    background: #b1b0b0;
    padding: 28px 17px;
    border-radius: 50%;
    color: #fff;
    line-height: 3;
}

#sign-in.modal,
#first-sign-in.modal,
#back-sign-in.modal,
#floor-plan-modal,
#allReviewModal {
    background: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
}







/*.map-info{
  max-width: 148px;
  padding: 0;
  margin: 0;
}
.map-info img{width: 100%;}*/


/*.home-img select {
  width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 21%;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 12px;
}
.home-img input {
  width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 12px;
}
.home-img .button {
      width: 100%;
    background-color: #f74b27; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 5%;
    margin-left: -18%;
    cursor: pointer;
    }*/


/*.rhs-button{  
  margin-left: 5%;
  }*/


/*popup heading styles*/

#detail-popup .border-right {
    border-right: 2px solid #eee;
}

#detail-popup .modal-header {
    border-bottom: none!important;
    padding-top: 20px!important;
}

#pricepointdetail .modal-header {
    border-bottom: none!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
}

#pricepointdetail .modal-content {
    box-shadow: none;
    border: none;
    border-radius: 0;
    border: none;
}







/*#pricepointdetail .panel-body{
  min-height: 420px;
  max-height: 420px;
}
*/


/*#pricepointdetail ol{
  padding-left: 25px;
  list-style-type: none;
  }*/

#pricepointdetail .modal-body ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
}

#pricepointdetail .modal-body li {
    padding-left: 15px;
}

#pricepointdetail .modal-body li:nth-child(1):before {
    content: "*";
    padding-right: 5px;
}

#pricepointdetail .modal-body li:nth-child(2):before {
    content: "**";
    padding-right: 5px;
}

#pricepointdetail ol li:before {
    content: "* ";
}

#pricepointdetail .popup-left-heading h3 {
    font-family: ProximaNova-Regular;
    color: #fff;
    font-size: 29px;
    text-transform: uppercase;
    /*padding: 5px;*/
}

#pricepointdetail .popup-right-heading h3 {
    font-family: ProximaNova-Regular;
    color: #fff;
}

#pricepointdetail .details svg {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

#pricepointdetail .details p {
    color: #7f8fa4;
    text-align: left;
}

#pricepointdetail .popup-right-heading {
    padding: 20px;
    background: #2eba9d;
}

#pricepointdetail p.address {
    /*margin-top: -7px;*/
    font-size: 16px;
    color: #333;
    letter-spacing: 0.4px;
}

#pricepointdetail .popup-left-heading-listing h3 {
    font-family: ProximaNova-Bold;
    color: #087fc1;
}

#pricepointdetail .popup-right-heading-listing h3 {
    font-family: ProximaNova-Regular;
    color: #3dbea1;
}

#detail-popup hr {
    margin-top: 0px!important;
}

#pricepointdetail {
    height: 90vh;
}

#pricepointdetail .search-btn:hover,
#pricepointdetail .search-btn:focus {
    background: #fff;
    border: 2px solid #f74a27;
    color: #f74a27;
}

#grapharea .reviseprice:hover {
    background: #fff;
    color: #087fc1;
    border: 2px solid #087fc1;
}

#pricepointdetail div#detail-popup {
    background: none!important;
    height: 100%;
    overflow: hidden;
}

#pricepointdetail .modal-header .close {
    margin-bottom: 10px;
}

#pricepointdetail .search-btn {
    padding: 8px 26px;
}

#pricepointdetail .discheading {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
}

#pricepointdetail a {
    margin-top: 0;
}

#pricepointdetail #detail-popup .modal-dialog {
    width: 100%;
    height: 100%;
}

#pricepointdetail .details {
    /*margin: 20px 0 150px 0;*/
    /*padding: 15px 15px 156px 15px;*/
    padding: 30px!important;
    margin-bottom: 0px;
}

#pricepointdetail .row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

#pricepointdetail .row.no-gutter-listing {
    margin-left: 0;
    margin-right: 0;
}

#pricepointdetail .row.no-gutter [class*='col-']:not(:first-child),
#pricepointdetail .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 7px;
    padding-left: 0;
}

#pricepointdetail .row.no-gutter-listing [class*='col-']:not(:first-child),
#pricepointdetail .row.no-gutter-listing [class*='col-']:not(:last-child) {
    padding-right: 5px;
    padding-left: 0;
}

#grapharea .graph-area {
    border: 1px solid #ccc;
    padding: 150px;
    text-align: center;
}
p.des>i, label.des>i {
    color: #ffba00;
}
#grapharea h5 {
    font-size: 13px;
    font-family: ProximaNova-regular;
}

#grapharea h4 {
    font-size: 14px;
    margin-top: 7px!important;
    font-family: ProximaNova-Bold;
    color: #087fc1;
}

#grapharea .reviseprice {
    border-radius: 0px;
    background-color: #087fc1;
    border-color: #087fc1;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
}

#grapharea .selection {
    overflow-y: scroll;
    height: 250px;
    margin-top: 10px;
}

#grapharea ul {
    margin: 0 auto;
    padding: 0;
}

#grapharea ul li {
    list-style-type: none;
    padding: 10px;
}







/*Adding custom checkbox icons*/
ul.checkbox-sec select {
    padding: 5px 15px 5px 5px;
    background-color: #eee;
}
ul.float-lr select {
    /*padding: 5px 15px 5px 5px;*/
    background-color: #eee;
}
ul.checkbox-sec, ul.float-lr {
    display: block;
}
ul.checkbox-sec>li {
    display: inline-block;
    padding: 5px;
    vertical-align: text-top;
}
ul.float-lr>li {
    display: inline-block;
    padding-left: 15px;
}
.float-lr {
    float: right;
    padding: 0px 20px;
}
#similar-property label {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    cursor: pointer;
    color: #565656 !important;
}
.checkbox-sec label {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    cursor: pointer;
    color: #565656 !important;
    font-weight: 500;
}

#similar-property label:before,
label:after {
    font-family: FontAwesome;
    font-size: 21px;
    /*absolutely positioned*/
    position: absolute;
    top: -5px;
    left: 0;
}
#pricepointdetail .checkbox-sec label:before {
    font-family: FontAwesome;
    font-size: 21px;
    /*absolutely positioned*/
    position: absolute;
    top: -5px;
    left: 0;
}

#similar-property label:before {
    content: '\f096';
    /*unchecked*/
}
#pricepointdetail .checkbox-sec label:before {
    content: '\f096';
    /*unchecked*/
}

#similar-property label:after {
    content: '\f046';
    /*checked*/
    /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    /*CSS3 transitions for animated effect*/
    transition: all 0.35s;
}
#pricepointdetail .checkbox-sec label:after {
    content: '\f046';
    /*checked*/
    /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    /*CSS3 transitions for animated effect*/
    transition: all 0.35s;
}







/*hiding the original checkboxes*/

#similar-property input[type="checkbox"], #pricepointdetail .checkbox-sec input[type="checkbox"] {
    display: none;
}



.navbar-static-top {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 0px 15px;
    background: #fff;
    margin-top: 50px;
}



/*when the user checks the checkbox the checked icon will animate in*/

#similar-property input[type="checkbox"]:checked+label:after {
    max-width: 25px;
    /*an arbitratry number more than the icon's width*/
    opacity: 1;
    /*for fade in effect*/
}
#pricepointdetail .checkbox-sec input[type="checkbox"]:checked+label:after  {
    max-width: 25px;
    /*an arbitratry number more than the icon's width*/
    opacity: 1;
    /*for fade in effect*/
}







/*adding some colors for fun*/
#new+label:before,
#new+label:after {
    color: #087fc1;
}
#resale+label:before,
#resale+label:after {
    color: #087fc1;
}
#qualified+label:before,
#qualified+label:after {
    color: #087fc1;
}


#one+label:before,
#one+label:after {
    color: #087fc1;
}

#two+label:before,
#two+label:after {
    color: #087fc1;
}

#three+label:before,
#three+label:after {
    color: #087fc1;
}

#four+label:before,
#four+label:after {
    color: #087fc1;
}

#five+label:before,
#five+label:after {
    color: #087fc1;
}

#six+label:before,
#six+label:after {
    color: #087fc1;
}

.property-heading {
    padding: 10px;
}

button.property-search {
    border: none;
    padding: 10px 0px 0px 0px;
    background: #fff;
    color: #999999;
}

.property-search span {
    font-size: 18px;
}

.circlelistblue:before {
    content: ' \25CF';
    font-size: 25px;
    color: #8cd3ff;
}

.circlelistgray:before {
    content: ' \25CF';
    font-size: 25px;
    color: #cfd8dc;
}

.circlelistblue,
.circlelistgray {
    float: left;
}

span.circlelistblue.pull-right,
span.circlelistgray.pull-right {
    margin-top: -7px;
}

.circlelistblue h4,
.circlelistgray h4 {
    float: right;
    margin: 8px 1px 6px;
    font-size: 12px;
}


/*table,tr,th,td{
  border:none;
  border-collapse:collapse;
}
.tbl-header{
  width:calc(100% - 17px);
  width:-webkit-calc(100% - 17px);
  width:-moz-calc(100% - 17px);
}*/




/*#similar-property{
 padding: 20px; 
 } */

#similar-property .table>thead>tr>th {
    border-bottom: none;
    text-align: center;
    width: 20%;
}

#similar-property .table>tbody>tr>td {
    border-top: none;
    text-align: center;
    /*padding: 20px;*/
    width: 20%;
}

#similar-property thead {
    background: #2eba9d;
    color: #fff;
    font-family: 'ProximaNova-Regular', sans-serif;
}

#similar-property h3 {
    font-size: 22px;
    font-family: 'ProximaNova-Bold', sans-serif;
}

#similar-property p {
    margin: 10px 0px 28px;
}

#similar-property .fa-eye {
    color: #087fc159;
}

#grapharea .table>tbody>tr:nth-child(1) {
    background: #087fc1;
    color: #fff;
}

#grapharea .table>tbody>tr:nth-child(2) {
    background: #2eba9d;
    color: #fff;
}

#grapharea .table>tbody>tr>td {
    border-right: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#grapharea .table>tbody>tr>td:nth-child(2) {
    text-align: center!important;
}

#grapharea table {
    margin-top: 10px;
}

#legal-ocheck svg {
    height: 50px;
    width: 100%;
}

#legal-ocheck h3,
#help h3 {
    font-family: 'ProximaNova-Bold', sans-serif;
    text-align: center;
}

#legal-ocheck h4 {
    color: 555555;
    font-family: 'ProximaNova-Bold', sans-serif;
    text-align: center;
}

#legal-ocheck p {
    font-size: 15px;
    text-align: center;
}

#legal-ocheck {
    background: #f4f4f4;
    margin-top: 30px;
    /*padding: 30px 0px 47px 10px;*/
    /*padding: 45px 0px 70px 10px;*/
}

#legal-ocheck button {
    background: #087fc1;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 4px 33px;
    border: 1px solid transparent;
    margin-top: 20px;
}

#legal-ocheck button:hover {
    background: #fff;
    color: #087fc1;
    border: 1px solid #087fc1;
}

#help p {
    font-size: 15px;
    text-align: center;
    min-height: 126px;
    margin-bottom: 30px;
    /*max-height: 126px;*/
}

#help .caption p {
    text-align: left;
}

#help h4 {
    font-size: 18px;
    color: #2eba9d;
    font-family: 'ProximaNova-Semibold', sans-serif;
}

#help a {
    background: #087fc1;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 4px 33px;
    border: 1px solid transparent;
    margin-top: 20px;
}

#help a:hover {
    background: #fff;
    color: #087fc1;
    border: 1px solid #087fc1;
}

#help h5 {
    color: #087fc1;
    font-weight: 400;
}

#second-menu .nav-tabs>li>a {
    font-size: 16px;
    text-transform: uppercase;
    color: #999999;
}

#second-menu .nav-tabs>li>a:hover {
    text-decoration: none;
    color: #087fc1!important;
    background: #fff;
}

#second-menu .nav-tabs {
    padding-top: 12px;
    border-bottom: none;
}

#second-menu .nav-tabs>li.active>a,
#second-menu .nav-tabs>li.active>a:focus,
#second-menu .nav-tabs>li.active>a:hover {
    border: none;
    border-bottom: 3px solid #0082c6;
    color: #0082c6;
    font-weight: 700;
    font-family: 'ProximaNova-Semibold';
    padding-bottom: 24px;
}

#second-menu .nav-tabs>li>a {
    font-size: 15px;
    color: #888;
}

#second-menu .nav-tabs>li>a:hover {
    background: transparent;
    /*border-color: transparent;*/
}

#second-menu .nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    border-color: transparent;
}







/*verification box blue box*/


/*.verification-box{
  padding: 6px 4px 4px 4px;
  background:#0082c6;
}
.verification-box .star:before{
  position: relative;
  margin-top: 10px;
  margin-bottom: 28px;
}
.verification-box p{
  font-size: 12px;
  color:#fff;
}
.verification-box h4{
  font-size: 13px;
  color:#fff;
}
.verification-box hr{
 margin-top: 10px;
 margin-bottom: 6px;
}
.verification-box a{
  text-decoration: none;
  color:#fff;
}*/


/*end*/


/*verification box white box*/

.verification-box {
    padding: 6px 4px 4px 4px;
    background: #ffffff;
    border: 1px solid #0082c6;
}

.verification-box .star:before {
    position: relative;
    margin-top: 10px;
    margin-bottom: 28px;
}

.verification-box p {
    font-size: 12px;
    color: #0082c6;
    font-family: 'ProximaNova-Regular', sans-serif;
}

.verification-box h4 {
    font-size: 13px;
    color: #0082c6;
    font-family: 'ProximaNova-Semibold', sans-serif;
}

.verification-box hr {
    margin-top: 10px;
    margin-bottom: 6px;
    border-top: 1px solid #0082c6;
}

.verification-box a {
    text-decoration: none;
    color: #54b39b;
    font-size: 12px;
}







/*end*/


/*pdf style*/

#pdf-viewer {
    overflow: auto;
    height: auto;
    /*background: linear-gradient(#333333d1, rgba(255, 255, 255, 1));*/
    background: rgba(214, 214, 214, 0.88);
    /*border: 1px solid;*/
}

#pdf-viewer canvas {
    width: 95%;
    display: block;
    margin: auto;
}
#pdfModal {
    background-color: rgba(255, 255, 255, 0.95);
}
#pdfModal .modal-header .close {
    margin-top: 0px;
    border: 1px solid;
    border-radius: 50%;
    padding: 0px 5px;
     position: relative; 
    right: 5px;
    z-index: 9999;
}





/*end*/

svg.svg-inline--fa.fa-info-circle.fa-w-16 path {
    fill: #0082c6;
}

p.des a {
    font-size: 15px;
    color: #0082c6;
}

p.des a:hover {
    text-decoration: none;
}

.PricePoint-heading h4 {
    color: #2eba9d;
}

.scrollheading {
    padding: 10px 15px 10px 0px;
    background: #fff;
}

.scrollheading h4 {
    margin-bottom: 0;
}

.side-popup.modal.left .modal-dialog,
.side-popup.modal.right .modal-dialog {
    position: fixed;
    /*margin: auto;*/
    width: 400px;
    height: auto;
    top: 20%;
    right: 0;
    left: 0;
    /*  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);*/
}

.side-popup.modal.left .modal-content,
.side-popup.modal.right .modal-content {
    height: auto;
    overflow-y: auto;
}







/*Right*/

.side-popup.modal.right.fade .modal-dialog {
    /*right: -320px;*/
    /*  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;*/
}

.side-popup.modal.right.fade.in .modal-dialog {
    /*right: 0;*/
}

.side-popup.modal {
    /*left: auto;
  right: auto;*/
    /*background: transparent;*/
    background: rgba(255, 255, 255, 0.5);
}

.side-popup.modal .modal-body {
    background-color: #FEFFF7;
}

.side-popup.modal .modal-body h4 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 0;
}

.side-popup.modal .modal-body p {
    font-size: 12px;
    font-weight: 600;
    color: #333;
}

.popup-btn {
    position: fixed;
    top: 50%;
    right: -100px;
    z-index: 99999;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari 3-8 */
    transform: rotate(-90deg);
}

.side-popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 1;
    background: transparent;
    box-shadow: none;
    color: #333;
    line-height: 1;
    text-align: center;
}

.side-popup .close span {
    font-size: 16px;
    border: 1px solid;
    width: 20px;
    height: 20px;
    display: block;
    vertical-align: middle;
    border-radius: 50%;
    padding: 2px;
}

.popup-btn .login-btn {
    border-radius: 0px;
    padding: 10px;
    background-color: #2fbb9d;
    height: auto !important;
}

.popup-btn .login-btn:hover {
    color: #fff;
}

.modal-body-content {
    padding: 20px;
}

.rs-onwards::before,
.door-step::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.rs-onwards::before {
    background: url(../assets/popup-img/1.svg);
}

.door-step::before {
    background: url(../assets/popup-img/2.svg);
}

.map-line-list {
    /*padding: 0px;*/
    display: inline-block;
    width: 100%;
    padding: 15px 0px;
    border: 1px solid #f3f1f1;
}

.map-line-list li {
    display: inline-block;
    min-width: 15%;
    /*margin-left: 10px;*/
}

.map-line-list li::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.map-line-list li:nth-child(1)::before {
    background-color: #A8E6CF;
}

.map-line-list li:nth-child(2)::before {
    background-color: #FFCBCA;
}

.map-line-list li:nth-child(3)::before {
    background-color: #FFE098;
}

.map-line-list li:nth-child(4)::before {
    background-color: #DCEDC1;
}

.map-line-list li:nth-child(5)::before {
    background-color: #B0D0EE;
}

.map-line-list li:nth-child(6)::before {
    background-color: #DCC4DF;
}

.pop-list div {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
}

.pop-list p {
    margin-top: 10px;
    margin-bottom: 0px;
}

#cp-side-popup .pop-list p {
    margin-top: 0px;
}

.side-popup input[type='tel'] {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    height: auto;
    margin-bottom: 0px;
}

.btn-submit {
    background-color: #0B7DBC;
    border-radius: 0px;
    color: #fff !important;
}

.btn-submit:hover {
    color: #fff;
}

.view-more {
    background: #fff;
    color: #2fbb9d !important;
    border-radius: 0 !important;
    font-weight: 900;
}
.view-more span {
    padding-left: 5px;
}
.view-searchform {
    background: #fff; 
    color: #2fbb9d;
    border-radius: 0;
    font-weight: 900; 
    text-align: center;
}
.hide-searchform {
    background: transparent; 
    color: #2fbb9d;
    border-radius: 0;
    font-weight: 900; 
    text-align: center;
    line-height: 2;
}
.hide-searchform:focus, .hide-searchform:hover {
    color: #2fbb9d;
}
/*.bgclrwhite {
    background: #fff; 
}*/
.clnproperties {
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}






/*.view-more:hover{
  background: #2fbb9d !important;
}*/

#cp-side-popup .modal-dialog {
    top: 15% !important;
}

.ask-for-login {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.ask-for-login .btn {
    background: #0d7ec1;
    color: #fff;
    border: none;
    border-radius: 0px;
    font-size: 18px;
    padding: 8px 30px;
}

.ask-for-login.btn {
    background: #0d7ec1;
    color: #fff;
    border: none;
    border-radius: 0px;
    font-size: 15px;
    padding: 10px;
    width: auto;
    right: 15px;
    left: auto;
}

.ask-for-login p {
    color: #0d7ec1;
    font-size: 20px;
    font-family: 'ProximaNova-Semibold', sans-serif;
}

.img-blur {
    filter: blur(10px);
}

.img-blur-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff !important;
    font-family: 'ProximaNova-Semibold', sans-serif;
}

.info-icon-red {
    color: #f74a27;
}

.info-icon-gray {
    color: #adadad;
}

.inner-popup .list-of-cards {
    height: 270px;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 265px;
    background: #f3f1f1;
    padding: 30px;
}

.flex-center .login-now {
    background: #0182c6;
    color: #fff;
}

.flex-center .login-now:hover {
    color: #fff;
}

.flex-center .content {
    font-size: 18px;
    color: #0182c6;
    font-family: 'ProximaNova-Semibold', sans-serif;
}

.inner-footer {
    padding: 30px 0px 30px 0px;
}

#pricepointdetail .PP-details p.address {
    color: #fff;
}

#pricepointdetail .PP-details .list-of-cards {
    height: 335px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #efefef;
    font-size: 18px;
    box-shadow: none;
    padding: 0px 8px;
    border-radius: 0px;
    color: #888;
    opacity: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    box-shadow: none;
    outline: none;
}

.arrow-left {
    left: 0px;
}

.arrow-right {
    right: 34px;
}










/*Price-point new page stylin*/

span.transaction {
    margin-right: 50px;
}

.side-bar.detail-sidebar.new-pp-height {
    min-height: 100%;
}

.details.new-details-pp {
    margin: 20px 0 90px 0;
}

#pricepointdetail .how-it-works {
    padding: 25px;
}

.pricepointdetail-pp .listing-cards {
    background: #EBF9FB;
    border-bottom: none;
    box-shadow: none;
    padding: 15px 15px 0px 15px;
}

.pricepointdetail-pp p.works-para {
    /*text-align: center!important;*/
}

.pricepointdetail-pp .mt-70 {
    margin-top: 69px;
}

.scroll-table {
    height: 304px!important;
    overflow-y: auto!important;
}

/*Listing page new styling*/

.listing-tab button {
    font-size: 16px;
    background: none;
    padding: 8px 0px;
    /*box-shadow: 0 5px 0px -1px #2a7ec1*/
    /*border-bottom: 3px solid transparent;*/
}
.listing-tab button:focus {
    /*box-shadow: 0 5px 0px -1px #2a7ec1;*/
}
ul>li:nth-child(1).active>button {
    box-shadow: 0 5px 0px -1px #e6472b;
    /*box-shadow: none;*/
    /*border-bottom: 3px solid #e6472b;*/
    border-radius: 0;
    color: #2a7ec1;
    padding: 8px 0px;
    font-weight: bold;
}
ul>li:nth-child(2).active>button {
    box-shadow: 0 5px 0px -1px #ec9520;
    /*box-shadow: none;*/
    /*border-bottom: 3px solid #ec9520;*/
    border-radius: 0;
    color: #2a7ec1;
    padding: 8px 0px;
    font-weight: bold;
}
/*.listing-tab{
    border-top: 2px solid #cccccc45;
}*/

.find-property{
    background: url('../assets/CP-TILE-MOB.png') center no-repeat;
    background-size: cover;
    /*background: #fff;*/
    padding: 10px 0px 30px 0px;
    margin: 6px;
    text-align: center;
    /*margin-top: 15px;*/
    min-height: 302px;
}
.find-property form .form-control{
    padding: 6px 10px;
    margin-bottom: 10px;
}
.find-property h5{
    color:#2a7ec1;
    margin-bottom: 0;
}
.bg-white{
    background-color: #fff;
}
.flex-section{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
     -moz-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     -o-flex-wrap: wrap;
     flex-wrap: wrap; 
}
.PP-details .modal-dialog, .PP-details .side-bar{
    margin-top: 0px;
}
.PP-details{
    /*margin-bottom: 50px;*/
}
.box{
    display: inline-block;
    font-size: 15px;
    text-align: center;
    margin-right: 25px;
}
.box-inner{
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 18px;
    color: #087fc1;
    margin-bottom: 5px !important;
    margin-top: 10px;

}
.box-inner.new{
    background:url(../assets/new.png) center no-repeat;
    background-size: 90%
}
.box-inner.resale{
    background:url(../assets/resale.png) center no-repeat;
    background-size: 90%
}
.new-details-pp hr{
    margin: 10px 0px;
}
.view-by{
    font-size: 15px;
    margin-top: 20px;
}
.view-by svg{
    width: 15px;
}
.sm-heading{
    color: #888;
}
.blue-bg{
    background-color: #bae4f8;
}
.h-85{height: 85px;}
#locality .map-listing{
    height: auto;
}
#locality .scroll-table{
    height: 365px !important
}
.inner-search-bar{
    position: relative;
    top: 0;
    /*width: 100%;*/
    /*background: #FFFFFF;*/
    overflow: visible;
    padding: 8px 0px;
    z-index: 999;
}
.inner-search-bar .lg-drop-down{
    background-color: #fff;
}
.prop-list-count{
        background: #fff;
    /*border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 8px;
}
.prop-list-count h3{margin: 0px;}
.search-input{
    /*width: 100%;*/
    position: relative;
}
.search-input .form-control, .form-control.drop-down.inner{
    width: 100%;
    background-color: #E9EDF1;
    padding-bottom: 5px;
    padding-top: 5px; 
    border: none;
}
.search-input a {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0px;
    padding: 10px 15px;
    color: #FFFFFF;
    background-color: #F74A27;
}
.input-pad-0 {
    padding: 0px;
}
.pricing-details-wrapper .media {
    padding: 1rem;
}
.pricing-details-wrapper .floor-plan-card {
    padding: 0.625rem 2rem;
    box-shadow: 0px 0px 6px 3px #d8d8d875;
    border-radius: 4px;
}
.pricing-details-wrapper .floor-plan-card .media-body .sqft {
    font-size: 21px;
    color: #67677D;
    font-weight: normal;
}
.pricing-details-wrapper .floor-plan-card .media-left img {
    width: 200px;
}
.pricing-details-wrapper .floor-plan-card .media-body {
    vertical-align: middle;
    text-align: center;
}
.pricing-details-wrapper .floor-plan-card .media-body .sqft, .pricing-details-wrapper .floor-plan-card .media-body .price {
    font-size: 21px;
    color: #67677D;
    font-weight: normal;
}
.pricing-details-wrapper .floor-plan-card .media-body .media-heading {
    font-size: 22px;
    color: #67677D;
    font-weight: bold;
}
.pricing-details-wrapper .swiper-button-prev {
    left: -25px;
    outline: none;
    background-image: url('../assets/details/chevron-left.svg');
    background-size: 70px;
}
.pricing-details-wrapper .swiper-button-next {
    right: -25px;
    outline: none;
    background-image: url('../assets/details/chevron-right.svg');
    background-size: 70px;
}
.pricing-details-wrapper {
    margin-top: 2rem;
}
.whatsapp-details {
    color: #000000;
    font-size: 24px;	
    font-weight: 500;
    padding-top: 4rem;

}
.whatsapp-details span a {
    color: #1F7CB7;	
    text-decoration: none;
}
.rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #EFA445;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #EFA445;  } 


  .star-ratings {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    /* height: 50px;
    width: 250px;
    margin: 1em auto; */
    position: relative;
    padding: 0;
  }
    
    .star-ratings-top {
      color: #EFA445;
      padding: 0;
      position: absolute;
      z-index: 1;
      display:block;
      left: 0px;
      overflow: hidden;
    }
    .star-ratings-bottom { 
        z-index: 0;
     }

     .extReview-content h4, .userReview-content h4 {
        color: #000000;	
        font-family: "Proxima Nova Lt";	
        font-size: 22px;	
        /* font-weight: 600; */
     }
     .userReview-content h4 span:first-child{
        font-family: 'Proxima Nova Rg';
        color: #000000;
        font-size: 14px; 
        font-weight: normal;   
     }
     .userReview-content h4 span:last-child {
        font-family: 'Proxima Nova Rg';
         color: #1F7CB7;
         font-size: 15px;
         font-weight: normal;
     }
    .review-stars .checked {
        color: #EFA445;
      }
      .review-stars span {
        font-size: 22px;
        color: #eee;
      }
      .review-stars span.total {
        color: #000000;	
        font-size: 22px;	
        font-weight: 600;
        padding-left: 8px;
      }
      .review-stars small {
        padding: 3px 5px;
        background-color: #909090;
        color: #fff;
        border-radius: 3px;
      }
      .review-comment {
        color: #000000;	
        font-family: "Proxima Nova Rg";	
        font-weight: normal;
        font-size: 16px;
        padding: 14px 0;
      }
      .btn-writeAreview {
        position: relative;
        font-size: 14px;
        color: #909090; 
        top: -3px;
        padding-left: 10px;
        background-color: transparent;
        border: none;
        outline: none;
      }
      .btn-writeAreview img{
        position: relative;
        top: -3px;
      }
      .review-stars .popover{
        border: none!important;
      }
      .review-stars .popover .arrow{
        border: none!important;
      }
      .review-heading {
        color: #1C1C1C;
        font-family: "Proxima Nova";
        font-size: 16px;
        margin: 0;    
      }
      #reviewForm textarea {
        font-size: 13px;
        font-family: "Proxima Nova";
        background-color: #efefef;
        margin-bottom: 15px;
        color: #000000;
        border: none;
        box-shadow: none;
      }
      #reviewForm input[type="submit"] {
        background-color: #1F7CB7;
        margin-left: auto;
        right: 0;
        display: block;
        padding: 4px 14px;
        color: #FFFFFF;
        font-family: "Proxima Nova";
        font-size: 16px;
        border: none;
      }
      .benefits-content {
          padding-top: 40px;
      }
      .benefits-content .benefit-title {
        color: #35B697;	
        font-family: "Proxima Nova";	
        font-size: 22px;	
        font-weight: 600;
      }
      .benefits-content .drawback-title {
        color: #D33E32;	
        font-family: "Proxima Nova";	
        font-size: 22px;	
        font-weight: 600;
      }
      .benefits-content ul li:before{
        content: '';
        
        float: left;
        margin-left: -2.3em;
        position: absolute;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;   
      }
      ul.benefits li:before {
        background-image: url(../assets/details/benefit-icon.svg);
      }
      ul.drawback li:before {
        background-image: url(../assets/details/drawback-icon.svg);
      }
      .benefits-content ul li {
        color: #323232;	
        font-family: "Proxima Nova";	
        font-size: 16px;
        padding: 20px 0px;
        line-height: 2.3;
      }
      .pndg-around {
          padding: 3rem;
          margin-top: 1rem;
      }
      .btn-allReviewModal {
        background-color: transparent;
        border: none;
        text-decoration: underline;
        padding: 0;
        outline: none;
      }
      .review-list {
          /* padding: 1rem; */
      }
      .review-list .media-left, .review-list .media-left img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }
    .date-review {
        color: #B4B4B4;	
        font-family: "Proxima Nova";	
        font-size: 13px!important;	
        font-weight: 500; 
    }
    .review-stars-list span {
        font-size: 15px;
        color: #eee;
    }
    .review-stars-list .checked {
        color: #EFA445;
    }
  #allReviewModal .modal-header {
    margin: 0 2rem;
  }
  #allReviewModal .modal-body {
    margin: 0 2rem;
    padding: 15px;
}
#allReviewModal .modal-title {
    color: #1F1F1F;	
    font-family: "Proxima Nova";	
    font-size: 23px;	
    font-weight: bold;
}
#allReviewModal .media-heading {
    color: #1F1F1F;	
    font-family: "Proxima Nova";	
    font-size: 14px;	
    font-weight: bold;
    margin-bottom: 12px;
}
.modal-scrollable {
    max-height: 400px;
    overflow: scroll;
}
.btn-lowest-price {
    border-radius: 0px!important;
    background-color: #f74a27;
    border-color: #f74a27;
    color: #fff!important;
    text-transform: uppercase;
    height: 40px;
    padding: 8px 62px;
    /* margin-bottom: 10px;  */
}
.btn-lowest-price:hover {
    color: #333!important;
    background-color: #e6e6e6!important;
    border-color: #adadad!important;
}
.legel-para {
    color: #000000;
    font-size: 16px;
    padding-top: 25px;
}
.download-sheet-container {
    list-style: none;
    padding: 0;
    display: inline-table;
    margin-top: 20px;
    
}
.download-sheet-container>li {
      display: inline-block; 
      margin: 0px 10px; 
}
.download-sheet-container>li:first-child >a:hover {
    text-decoration: none;
    background-color: #029c81;
}
.download-sheet-container>li:last-child >a:hover {
    text-decoration: none;
    background-color: #065e92;
}
.download-sheet-container>li:first-child >a  {
    display: block;
    padding: 15px 20px 15px 20px;
    background-color: #2dba9d;
    color: #ffffff;
    font-size: 20px;
    border-radius: 2px;
    transition: all 0.2s ease-in;
}
.download-sheet-container>li:last-child >a  {
    display: block;
    padding: 15px 45px 15px 45px;
    background-color: #067fc1;
    color: #ffffff;
    font-size: 20px;
    border-radius: 2px;
    transition: all 0.2s ease-in;
}
.download-sheet-container>li a img  {
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.pricing-details-form-container {
    padding-top: 25px;
}

.pricing-details-form-container h2 {
    padding-bottom: 20px;
}

.pricing-details-form-container .form-group {
    position: relative;
    /* margin-bottom: 1.5rem; */
  }
  .pricing-details-form-container .form-group .btn-sumbit {
    font-family: "Proxima Nova Lt";
    background-color: #067fc1;
    color: #FFFFFF!important;
    padding: 6px 20px;
    font-size: 14px;
    border-radius: 2px;
  }
  .pricing-details-form-container .form-group .form-control {
    font-family: "Proxima Nova Lt";
    color: #000000;
    font-size: 14px;
    text-transform: capitalize;
    border: 1px solid #c1bfbf;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 25px;
    padding: 0 7.5px;
  }
  .pricing-details-form-container .form-control-placeholder {
    position: absolute;
    font-size: 14px;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.7;
  }
  
  .pricing-details-form-container .form-control:focus + .form-control-placeholder,
  .pricing-details-form-container .form-control:valid + .form-control-placeholder {
    font-size: 12px;
    padding: 7px 0 0 4px;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    opacity: 1;
  }
  .col-centered {
    float: none;
    margin: 0 auto;
  }
  /* .btn-lowest-price {
      line-height: 1;
  } */
  .form-content-field {
      text-align: center;
  }
  .form-content-container {
    padding: 30px;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  .pad-7 {
      padding: 0 7px;
  }

  