@font-face {
    font-family: webfont;
    src: url(../Fonts/fontawesome-webfont_0.woff) format('woff');
}
@font-face {
    font-family: MyriadPro-Regular;
    src: url(../Fonts/MyriadPro-Regular.woff) format('woff');
}
@font-face {
    font-family: MyriadPro-Semibold;
    src: url(../Fonts/MyriadPro-Semibold.woff) format('woff');
}
@font-face {
    font-family: ProximaNova-Bold;
    src: url(../Fonts/ProximaNova-Bold_0.woff) format('woff');
}
@font-face {
    font-family: ProximaNova-Regular;
    src: url(../Fonts/ProximaNova-Regular.woff) format('woff');
}
@font-face {
    font-family: ProximaNova-RegularItalic;
    src: url(../Fonts/ProximaNova-RegularItalic.woff) format('woff');
}
@font-face {
    font-family: ProximaNova-Semibold;
    src: url(../Fonts/ProximaNova-Semibold.woff) format('woff');
}
body{
  font-family: 'ProximaNova-Regular';
  overflow: hidden;
  outline: none;
  padding: 0 !important;
}
.pad-0{padding: 0;}
.pad-30{padding: 30px;}
.pad-20{padding: 20px;}
.pad-tb-30{padding-top: 30px;padding-bottom: 30px;}
.pad-l-0{padding-left: 0px !important;}
.mb-0{margin-bottom: 0;}
.m-0{margin: 0;}
.mb-15{margin-bottom: 15px;}
.mt-0{margin-top: 0;}
.mt-40{margin-top: 40px;}
.mt-114{margin-top: 114px;}
.mt-50{
  margin-top: 50px;
}
.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top: 15px;
}
.mt-30{
  margin-top: 30px;
}
.mt-60{
  margin-top: 60px;
}
.mt-80{
  margin-top: 85px;
}
.plr-50{
  padding-left: 50px;
  padding-right: 50px;
}
.mtb-10{margin-bottom: 10px;margin-top: 10px}
.ptb-60{padding-top: 60px;padding-bottom: 60px;}
.bg-gray{background-color: #f4f4f4}
.clr-cyan{color: #2eba9d !important;}
.clr-gray{color: #ccc !important;}
.clr-dark-gray{color: #565656 !important;}
.clr-orange{color: #f74a27 !important;}
.posR{position: relative;}
.vh-100{height: 100vh;}
.circle{
      border: 3px solid #2eba9d;
    border-radius: 50%;
    /* padding: 30px; */
    font-size: 56px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    color: #2eba9d;
    margin: auto;
}
.footerStatic{position:static!important;width:auto;}
.fixedBoxBtm {
  position: fixed;
  display: block;
  width: 50%;
  bottom: 0;
  right: 0;
  margin: 0;
  z-index: 5;
}
.container-fluid{outline: none;}
.offer{
  margin: 0;
    padding-left: 5px;
    color: #b2b2b2;
}
.popup-icon-heading{
  font-weight: 900;
  color: #2eba9d;
  text-transform: uppercase;
}
.modal-backdrop{background: transparent;}
.modal-md{width: 760px;}
#showDetails button.close{
      position: absolute;
    right: -10px;
    top: -12px;
    background: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    z-index: 999999;
    opacity: 1;
    border:1px solid #ccc;
}
#showDetails .modal-body{
  padding: 15px;
}
#showDetails.modal{
  position: absolute;
}
#first-sign-in button.close, #back-sign-in button.close, #sign-in button.close{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 28px;
    z-index: 99999;
    outline: none;
}
.detail-popup{
      height: 345px;
    overflow-y: auto;
}
.table>tbody>tr>td{padding: 12px;}
.table-heading{
  color: #fff;
  background: #2eba9d !important;
}
.panel-body{padding: 0;}
.star:before{
    font-size: 13px;
    font-family: FontAwesome;
    color: #fb0;
    position: absolute;
    right: 0;
    top: 0;
    content: "\f005\f005\f005\f005\f005";
    display: block;
    padding-left: 5px;
}
.shadow{
  box-shadow: 0px -1px 16px #ccc;
}

.w-25{
  width: 25%;
  float: left;
}
.navbar-inverse {
     background-color: #087FC1; 
     border-color: #087FC1; 
}
.posR{position: relative;}
.heading-line{
  float: right;
    width: 100%;
    border-top: 3px solid #eee;
    margin-top: 10px;
    position: absolute;
    top: 0;
    z-index: -1;
}
.heading{background: #fff;padding-right: 15px;}
.drop-down {
    padding: 10px 25px 10px 10px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance: none;
    background: url(../assets/down-arrow.svg) no-repeat;
    background-position: 90% 50%;
    background-size: 10px;
    background-color: #fff;
    margin-right: -5px;
}
.panel-heading a{outline: none;text-decoration: none;}
#detail-popup{
    background: rgba(255, 255, 255, 0.77);
    position: absolute !important;
}
.modal-backdrop{display: none;}
.modal-content{box-shadow: 0 0px 20px rgba(0,0,0,.2);}
#detail-popup .modal-dialog{width: 95%;}
.panel-group{margin-top: 5px;margin-bottom: 5px;}
#detail-popup .modal-body{

}
.drop-down::-ms-expand {
    display: none;
}
.drop-down.inner{width: 105px;}
.search-bar{
  padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px -1px 16px #ccc;
    z-index: 9999;
}
.drop-search-btn{
    background: #2abb9d;
    color: #fff;
}
.dropdown-menu.main{
  padding: 5px;
}
.dropdown-menu.main .form-control{margin-bottom: 5px;}
.dropdown-menu.main .checkbox, .dropdown-menu.main .radio{
  margin:0;
}
.inner-option li{
  display: inline-block;
    width: 48%;
    padding: 0 4px;
    font-size: 14px;
}
.search-bar .dropdown-menu>li{
    display: inline-block;
    width: 48%;
    padding: 0 4px;
    font-size: 14px;
}
.dropdown-menu ul{padding: 0;}
.dropdown-menu .sub-option li{
  display: inline-block;
    width: 32%;
    padding: 0 4px;
    font-size: 14px;
}
.lg-drop-down{
    background-color: transparent;
    color: #555;
    border-radius: 0;
    height: 40px;
    width: 200px;
    text-align: left;
    border-color: #ccc;
    background-image: url(../assets/down-arrow.svg) ;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 10px;
    box-shadow: none;
}
.search-bar .dropdown-menu li a{
  padding: 0 5px;
}
.dropdown-menu{
  min-width: 215px;
}
.modal object{
  width: 55px;
}

input[type=Search]{
  border-radius: 0;
  z-index: 999;
}
.navbar {
     border-radius: 0px; 
     margin-bottom: 0px;
    padding: 0px 50px;
}
.navbar-brand{
  padding: 12px 15px;
}
.header {
	background-color: #087FC1;
	font-size: 14px;
	font-family: 'ProximaNova-Regular';
	color: #fff;
}
.header button{
	background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20%;
}
.header .head-margin-lf{
	margin-left: 3%;
}
.header .head-margin-rg{
	margin-right: 3%;
}
.home-img{
	/*background: url("../assets/home.png") center no-repeat;*/
	height: 100%;
  padding: 0;
  /*text-align: center;*/
  /*background-size: cover;*/
}

.styled-checkbox {
  position: absolute !important;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  display: inline-block;
  vertical-align: text-top;
  width: 14px;
  height: 14px;
  background: white;
  border:1px solid #ccc;
}
.styled-checkbox:hover + label:before {
  background: #087fc1;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #087fc1;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.dropdown hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
/*.rg-row .col-md-4{
	width: 26.333333%;
}*/
.banner-caption{
    position: absolute;
    left: 0;
    right: 0;
    top: 28%;
}
.navbar-inverse .navbar-nav>li>a{color: #fff;font-size: 14px;padding: 15px 20px;}
.login-btn{
  background: #2eba9d;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    padding: 3px 16px;
    margin: 10px 0px 0 20px;
    outline: none;
}
 #square {
  position: relative;
    width: 100%;
    height: 180px;
    border: 1px solid #087FC1;
    margin-right: 10px;
    margin-bottom: 10%;
    border-radius: 15px;
    background-color: #fcfcfe;
}
#square p{
  position: absolute;
  /*bottom: 0;*/
  left: 0;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  margin: 15px;
  font-family: 'ProximaNova-Regular';
}

 .shape{
  position: absolute;
  text-align:center;
  background-color:#087FC1;
  width:125px;
  height:60px;
  line-height:16px;
  color:white;
  margin:0px auto;
  position:relative;
  border-bottom-right-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
}

.shape h4{margin: 0;padding-top: 8px;}
.box-tagline p{
	font-family: 'ProximaNova-Regular';
  text-align: center;
}

.box-tagline h5{
	font-family: 'ProximaNova-Regular';
  text-align: center;
}
.box-tagline img{
  display: block;
  margin: auto;
}
.list{
      padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.list li{
    display: inline-block;
}
.list svg{
  width: 20px;
  height: 20px;
}
.list span{
      font-size: 16px;
    font-weight: 900;
    color: #2abb9d;
    display: inline-block;
}
.side-bar span{
  display: inline-block;
  margin-bottom: -2px;
  float: left;
}
.side-bar span:nth-child(2){
  margin-top: -2px;
  margin-left: 5px;
}

.footer{
	background-color: #464A5C;
	color: #fff;
  padding: 30px 0;
}
.footer p{
	font-family: 'ProximaNova-Regular';
	font-size: 14px;
	text-align: left;
  line-height: 22px;
}
.footer-band{
  background-color: #0d7ec1;
  color: #fff;
  padding: 5px 0;
}
.footer-band p{margin: 0;text-align: center;font-weight: 100;}
.footer ul, .footer li {
	font-family: 'ProximaNova-Regular';
	font-size: 14px;
	list-style: none;
	text-align: left;
  line-height: 22px;
}
.footer a{
  text-decoration: none;
  color: #fff;
}
.footer a:hover{
  opacity: 0.7;
}
.section-full {
height:100vh;
min-height:100vh;

}
.left-sec{
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;	
}
/*.left-sec::-webkit-scrollbar { 
    display: none; 
}*/
.left-sec h2{
  text-align: center;
  font-family: 'ProximaNova-Semibold';
      margin-top: 40px;
}
.footer h5{
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  margin-bottom: 30px;
}
.footer img{
    /*margin-top: 5%;*/
    margin-bottom: 3%;
    /*margin-left: 2%;*/
}
.footer h6{margin-top: 0px;}
.home-img h2{
  color: #fff;
  font-family: 'ProximaNova-Semibold';
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 3%;
}

.form-control {
  height: 40px;
  border-radius: 0;
}
.home-img .btn {
      border-radius: 4px;
    background-color: #f74a27;
    border-color: #f74a27;
    color: #fff;
    text-transform: uppercase;
    height: 38px;
    margin-top: 6px;
    margin-right: 4px;
    padding: 5px 25px;
}
.home-img input{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-btn {
  border-radius: 0px;
  background-color: #f74a27;
  border-color: #f74a27;
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  padding: 8px 62px;
}
.view-btn {
  border-radius: 0px;
  background-color: #0b7dbb;
  border-color: #0b7dbb;
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  padding: 8px 25px;
}
.ask-login{
  width: 100%;
    height: 500px;
    background: rgba(255, 255, 255, 0.9);
     background: -webkit-linear-gradient(transparent, rgba(255, 255, 255, 1));
    background: -o-linear-gradient(transparent, rgba(255, 255, 255, 1));
    background: -moz-linear-gradient(transparent, rgba(255, 255, 255, 1));
    background: linear-gradient(transparent, rgba(255, 255, 255, 1));
    position: absolute;
    top: 0;
}
.ask-login-box{
      position: absolute;
    top: 60%;
    left: 33%;
    border: 1px solid #007fc0;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 0;
    background: #fff;
}
#des h3{
  font-family: 'ProximaNova-Semibold';
  color: #0b7dbb;
}
.inner-heading{
    /*box-shadow: 0px -1px 16px #ccc;*/
    /*background: #fff;*/
    height: 58px;
}
.prop-listing{
  background: #efefef;
  /*padding: 12px;*/
}
.prop-listing a{text-decoration: none;}
.prop-listing .heading{
  margin-bottom: 0;
  font-family: 'ProximaNova-Semibold';
  margin-top: 0;
}
.prop-listing .address{
  color: #ccc;
  font-size: 12px;
  margin-bottom: 3px;
}
.thumbnail{
  padding: 0;
  border-radius: 0;
  border:none;
  margin-bottom: 0;
  margin: 6px;
}
.thumbnail img{width: 100%;}
.caption .des-heading{
    font-size: 12px;
    margin-bottom: 0;
    color: #808080;
}
.caption .des-sub-heading{
    font-size: 13px;
    font-weight: 700;
}
.caption hr{
      margin: 0 0 10px 0;
}
.caption svg{
  width: 15px;
  height: 15px;
}
.know-btn{
    border-radius: 0;
    background: #2eba9d;
    color: #fff;
    width: 49%;
    font-size: 14px;
    padding: 6px 0;
    border:none;
}
.txt-head{
	    font-size: 20px;
    font-weight: 900;
}
.know-btn:hover{
  background: #2eba9d;
  color: #fff
}
.know-btn.price{background: #0d7ec1}
.know-btn.price:hover{background: #0d7ec1;color: #fff}
.nav-tabs{
  padding-top: 12px;
  border-bottom: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: none;
    border-bottom: 3px solid #0082c6;
    color: #0082c6;
    font-weight: 700;
    font-family: 'ProximaNova-Semibold';
    padding-bottom: 24px;
}
.nav-tabs>li>a{
  font-size: 15px;
  color: #888;
}
.nav-tabs>li>a:hover{
  background: transparent;
  border-color: transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  border-color: transparent;
}
.search-in-btn{
      width: 200px;
    text-align: center;
}
.title{
  overflow:hidden;
}
.title:after{
  content:'';
  display:inline-block;
  width:100%; height:100%;
  margin-right:-100%;
  border-bottom:1px solid #ccc;
}
#myCarousel .carousel-indicators li, #myCarousel .carousel-indicators .active{
  width: 50px;
  height: 50px;
  border-radius: 0;
}
#myCarousel .carousel-indicators{
  width: 40%;
  left: 96%;
  bottom: 0;
}
#myCarousel .carousel-indicators .active{
  border:2px solid #2eba9d;
}
.gallery-arrow{
      position: absolute;
    top: 40%;
}
.side-bar{
  background-color: #fff;
  padding: 15px;
}
.side-bar h3{
  margin-top: 0;
  margin-bottom: 5px;
  color: #0082c6;
  font-family: 'ProximaNova-Semibold';
}
.side-bar p{margin-bottom: 0}
.details{
  margin: 20px 0 76px 0;
}
.btn.affix{
  top: 15px;
  z-index: 9999;
  right: 11%;
}
.scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #efefef;
}

.scrollbar::-webkit-scrollbar
{
  width: 5px;
  background-color: #efefef;
}

.scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #2ebb9d;
}
.details hr{margin: 10px 0;}
.details .sm-heading{color: #888;}
.details .des{font-size: 16px;}
.details svg{width: 15px; height: 15px;}
.navigation{
  width: 100%;
    z-index: 9999;
    background: #fff;
    top: 0;
    height: 70px;
}
.amenities object{
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}
#map{
  width: 100%;
  height: 90vh;
}
#inner-map{
  width: 100%;
  height: 500px;
}
/*.gm-style-iw + div {display: none;}*/
.map-head{margin-bottom: 4px;}
#map .gm-style-iw {
  width: 200px !important;
  height: 165px !important;
  top: 0px !important;
  left: 0px !important;
  /*background-color: #fff;*/
  border-radius: 2px 2px 10px 10px;

}
#map .gm-style-iw div{min-width: 200px;}
#map .gm-style-iw img{width: 200px}
#map .gm-style-iw + div{display: none}
#map .gm-style-iw + div>div{display: none}

.map-info{padding: 0 10px;}
.map-info{font-size: 16px;margin: 0;}
.map-info hr{margin: 10px 0;}

.map-buttons{
      position: absolute;
    top: 32%;
}
.map-btn{
      min-width: 110px;
    margin-bottom: 3px;
    border: none;
    border-radius: 0;
    background: #2cb99d;
    color: #fff;
}
.map-btn:hover, .map-btn:focus{
  background: #f74a27;
  color: #fff;
}
.map-listing{
    height: 500px;
    overflow-y: auto;
    padding: 15px;
    background: #fff;
}
.map-listing hr{margin: 10px 0;}
/*.map-listing h4{margin-bottom: 0;}*/
.popup-bg{
  background: url(../assets/popup-bg.png) center no-repeat;
  background-position: bottom;

}
.detail-heading{
  background: #00bc9b;
    color: #fff;
    padding: 5px;
}
.modal-body{padding: 0px;}
.modal-body #square{
      border: 1px solid #59c8b0;
      height: 145px;
}
.modal-body .shape{
  background-color: #59c8b0;
}
.modal-text{
  color: #59c8b0;
}
.modal a{
  color: #59c8b0;
  text-decoration: none;
}
.modal input[type="tel"], .modal input[type="text"], .modal input[type="email"]{
  background: transparent;
}
.h-450{height: 450px;}
.input-group-addon{
  background: transparent;
    border: none;
    font-size: 22px;
}
.modal .form-control{
      border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#sign-in .form-control{font-size: 22px;}
#first-sign-in .form-control{font-size: 16px;}
.btn-otp{
      font-size: 16px;
    border: none;
    border-radius: 0;
    background: #0d7ec1;
    color: #fff;
}
.modal h2{
  font-weight: 900;
  font-family: 'ProximaNova-bold';
  color: #0d7ec1;
  font-size: 36px;
}
#myCarousel{
  height: 522px;
}
#myCarousel .carousel-inner, #myCarousel .item, #myCarousel .item>img{height: 100%;width: 100%;}
.lhs-btn3{
      position: absolute;
    top: 0;
    right: 3px;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.carousel-caption {
    text-shadow: none;
    font-size:17px;
    top: 30%;
}
.carousel-caption h3 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
} 

.home-img .form-control{
  height: 50px;
}
.home-img .drop-down{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.item:nth-child(2) {
background: url('../assets/Buy-cleanproperties.jpg');
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
.item:nth-child(3) {
background: url('../assets/PriceX-cleanproperties.jpg');
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
#HomeCarousel .carousel-caption{
  left: 0;
  right: 0;
  bottom: auto;
}
#HomeCarousel .carousel-indicators {
    top: 44%;
    bottom: auto;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
}
#HomeCarousel .carousel-indicators .active {
    background-color: #0d7ec1;
    color: #fff;
}
#HomeCarousel .carousel-indicators .active:after{
  content: "";
  position: absolute;
  bottom: -24px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  margin-left: -16px;
}
#HomeCarousel .carousel-indicators li{
    width: 115px;
    height: 45px;
    margin: 0 -3px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 0;
    text-indent: 0;
}
#HomeCarousel .carousel-indicators li>p{
  font-size: 20px;
  margin: 0;
  color: #fff;
  margin-top: 8px;
}
.left-sec i svg{
  width: 90px;
}
.inner-heading .drop-down{
  padding: 0px 32px 0px 10px;
}
.inner-heading .form-control{height: 30px;}
.icon-heading{
    color: #0d7ec1;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold';
}
.icon-sub-heading{
  font-size: 16px;
  color: #000;
  font-weight: 700;
  font-family: 'ProximaNova-Semibold';
}
.social-icon{
	position: absolute;
    bottom: 72px;
    z-index: 999999;
}
.social-icon ul{
	list-style: none;
	display: inline-block;
}
.social-icon li{
	display: inline;
	margin-right: 5px;
}
.map-price{
	margin: 0;
    float: right;
}
.listing-cards{
    background: #fff;
    box-shadow: 0px 0px 20px 2px #efefef;
    margin-right: 5px;
    padding: 8px;
    border-bottom: 3px solid #2ebb9d;
    border-radius: 8px;
    margin-bottom: 5px;
}
.listing-cards h3{
  margin: 0;
  margin-bottom: 5px;
  font-family: 'ProximaNova-Semibold';
  font-size: 20px;
}
.listing-cards .pull-right{
  font-weight: 900;
  color: #087cbb;
}
.listing-cards p{margin-bottom: 3px;font-size: 12px;}
.pricex-heading{
      background: #3dbea1;
    color: #fff;
}
.panel-heading{
  padding: 10px 0;
  background: transparent !important;
}
.panel-body{
  padding: 15px;
}
.see-detail{
      font-size: 14px;
    text-decoration: none;
}
.modal-header{
  padding: 5px 15px;
}
.address{
    font-size: 10px;
    color: #087cbb;
    margin-bottom: 0;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 24px;
  margin-top: 5px;
  margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3bbea1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3bbea1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.list-of-cards{
    height: 315px;
    overflow-x: auto;
}
.modal-dialog{
  margin: 12px auto;
}
.dropdown-menu>li>a{
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  border-left: 3px solid transparent;
}
.dropdown-menu>li>a:hover{
  border-left: 3px solid #087FC1;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus{
  background-color: #065e92;
}
.fa-chevron-down{
      font-size: 10px !important;
    margin-top: 4px;
    margin-left: 6px !important;
}
/*.map-info{
  max-width: 148px;
  padding: 0;
  margin: 0;
}
.map-info img{width: 100%;}*/
/*.home-img select {
  width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 21%;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 12px;
}
.home-img input {
  width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 12px;
}
.home-img .button {
      width: 100%;
    background-color: #f74b27; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 5%;
    margin-left: -18%;
    cursor: pointer;
}*/
/*.rhs-button{  
  margin-left: 5%;
}*/
